Repository qpointz/qpointz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-init, flow:build, mill:build, mill-clients:build, docs:build

.gitlab-ci.yml:

include:  
  - local : /.gitlab/vars.yml
  - local : /.gitlab/jobs.yml

stages:
  - init
  - build  
  - finalize

ci-init:
  stage: init
  trigger:
    include:
      - local: .gitlab/pipelines/ci-init.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - etc/toolchain/**/*
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

finalize:release:
  image: ${CI_IMAGE_SEM_RELEASE}
  stage: finalize
  variables:
    GIT_STRATEGY: clone  
  only:
    - main 
    - rc
  script:
    - npx semantic-release --ci --debug
        
flow:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
      - local: flow/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - flow/**/*  

mill:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
      - local: mill/.gitlab-ci.yml
    strategy: depend
  rules:        
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always
    - changes:      
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*        
        - mill/[!clients]*/**/*
        - mill/[!clients]*/*
        - mill/*.yml
        - mill/*.kts
        - mill/*.properties
      when: always

mill-clients:build:
  stage: build
  inherit:
    variables: false
  needs:
    - job: mill:build  
      optional: true
  trigger:
    include:
      - local: mill/clients/.gitlab-ci.yml      
    strategy: depend
  rules:
    - if: $CI_COMMIT_REF_PROTECTED != "true"
      changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - mill/**/*        
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always               

docs:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
      - local: docs/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: $CI_COMMIT_REF_PROTECTED != "true"
      changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - docs/**/* 
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always

[change:mill] consolidate backend implementations
  mill/.gitlab-ci.yml
  mill/azure/mill-azure-calcite-backend-function/build.gradle.kts
  mill/azure/mill-azure-calcite-backend-function/src/main/java/io/qpointz/mill/azure/functions/AzureBackendFunctions.java
  mill/mill-calcite-service/build.gradle.kts
  mill/mill-calcite-service/config/test/model.yaml
  mill/mill-calcite-service/config/test/testdata-types.sql
  mill/mill-calcite-service/config/test/testdata.sql
  mill/mill-calcite-service/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcCalciteConfiguration.java
  mill/mill-calcite-service/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcConnectionConfiguration.java
  mill/mill-calcite-service/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcServiceProvidersConfiguration.java
  mill/mill-calcite-service/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcCalciteContextFactory.java
  mill/mill-calcite-service/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcContext.java
  mill/mill-calcite-service/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcContextFactory.java
  mill/mill-calcite-service/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcExecutionProvider.java
  mill/mill-calcite-service/src/main/java/io/qpointz/mill/services/jdbc/providers/ModelStripShuttle.java
  mill/mill-calcite-service/src/test/java/io/qpointz/mill/services/calcite/BaseTest.java
  mill/mill-calcite-service/src/test/java/io/qpointz/mill/services/jdbc/BaseTest.java
  mill/mill-calcite-service/src/test/java/io/qpointz/mill/services/jdbc/providers/JdbcExecutionProviderTest.java
  mill/mill-calcite-service/src/test/java/io/qpointz/mill/services/jdbc/providers/JdbcMetadataProviderTest.java
  mill/mill-calcite-service/src/test/resources/application-test-calcite.yaml
  mill/mill-calcite-service/src/test/resources/application-test-jdbc.yaml
  mill/mill-jdbc-backend-service/build.gradle.kts
  mill/mill-jdbc-service/build.gradle.kts
  mill/mill-jdbc-service/config/test/testdata.sql
  mill/mill-jdbc-service/src/main/resources/application.yml
  mill/settings.gradle.kts
Due: mill:build, mill-clients:build

[build:mill] implement dumper
  mill/.dumper.yml
  mill/clients/mill-py/codegen.py
  mill/dumper.py
Due: mill:build, mill-clients:build

[build:mill] add python sources to sonar analysis
  mill/build.gradle.kts
Due: mill:build, mill-clients:build

[build] add move folder action to dumper
  mill/.dumper.yml
  mill/dumper.py
Due: mill:build, mill-clients:build

[change:mill-py] create pyproject for millclient python module
  mill/clients/.gitlab-ci.yml
  mill/clients/mill-py/.build/reports/test-report.xml
  mill/clients/mill-py/poetry.lock
  mill/clients/mill-py/pyproject.toml
  mill/clients/mill-py/requirements.txt
Due: mill-clients:build

[doc] output documentation to serve location
  docs/.gitlab-ci.yml
  docs/source/formats/Avro.rst
  etc/docker/sphinx-ci/versioner.py
  etc/docker/sphinx-ci/versioner_old.py
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[new:mill] implement authentication readers
  docs/.gitlab-ci.yml
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/AuthenticationContext.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/AuthenticationReader.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/password/PasswordAuthenticationReader.java
Due: mill:build, mill-clients:build, docs:build

[change] implement global service security
  mill/clients/mill-jdbc-driver/src/test/java/io/qpointz/mill/InProcessTest.java
  mill/mill-backends/src/test/java/io/qpointz/mill/services/calcite/BaseTest.java
  mill/mill-backends/src/test/java/io/qpointz/mill/services/jdbc/BaseTest.java
  mill/mill-common-security/build.gradle.kts
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/configuration/SecurityConfig.java
  mill/mill-common-service/src/main/resources/application.yml
  mill/mill-grpc-service/src/main/java/io/qpointz/mill/services/MillGrpcService.java
  mill/mill-grpc-service/src/main/java/io/qpointz/mill/services/MillGrpcServiceExceptionAdvice.java
  mill/mill-grpc-service/src/main/resources/application.yml
  mill/mill-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceBaseTest.java
  mill/mill-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceExecuteTest.java
  mill/mill-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceMetadataTest.java
  mill/mill-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceRewriteTest.java
  mill/mill-sample-service/build.gradle.kts
  mill/mill-sample-service/src/main/java/io/qpointz/mill/services/sample/configuration/SampleConfiguration.java
  mill/mill-sample-service/src/main/java/io/qpointz/mill/services/sample/controllers/SampleController.java
  mill/mill-service/build.gradle.kts
  mill/mill-service/src/main/java/io/qpointz/mill/services/MillService.java
  mill/mill-service/src/main/resources/application-local-run-jdbc.yml
Due: mill:build, mill-clients:build

[feature:mill] implement sample service
  mill/mill-backends/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcCalciteConfiguration.java
  mill/mill-common-service/build.gradle.kts
  mill/mill-sample-service/build.gradle.kts
  mill/mill-sample-service/src/main/java/io/qpointz/mill/services/sample/configuration/SampleConfiguration.java
  mill/mill-sample-service/src/test/java/io/qpointz/mill/services/sample/controllers/SampleControllerTest.java
  mill/mill-sample-service/src/test/resources/application-test-jdbc.yaml
  mill/mill-service/build.gradle.kts
Due: mill:build, mill-clients:build

[change:doc] exclude feature branches from documentation build on protected branches
  .releaserc
  docs/.gitlab-ci.yml
  etc/docker/sphinx-ci/.versioner.in
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[build] toolchain should be global
  .gitlab/jobs.yml
  .gitlab/vars.yml
  docs/.gitlab-ci.yml
  etc/docker/sphinx-ci/versioner.py
  etc/toolchain/toolchain.yml
  mill/.dumper.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[fix] release logic
  .gitlab/jobs.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[patch:mill] version bump
  .gitlab-ci.yml
  .gitlab/jobs.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[quality] move to new sonar instance
  mill/.gitlab-ci.yml
  mill/build.gradle.kts
Due: mill:build, mill-clients:build

[build] fixing versioning logic
  .gitlab-ci.yml
  .gitlab/jobs.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[build] use docker dependency proxy
  etc/docker/base-ci/Dockerfile
  etc/docker/minica/Dockerfile
  etc/docker/sbt-ci/Dockerfile
  etc/docker/sem-release-ci/Dockerfile
  etc/docker/sphinx-ci/Dockerfile
  etc/toolchain/deploy-tools/Dockerfile
  flow/.gitlab-ci.yml
  mill/.gitlab-ci.yml
  mill/clients/.gitlab-ci.yml
  mill/mill-azure-service-function/src/main/docker/Dockerfile
  mill/mill-service/src/main/docker/Dockerfile
  rapids/.gitlab-ci.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[build] authenticate to dependency registry
  .gitlab/jobs.yml
  mill/.gitlab-ci.yml
  mill/clients/.gitlab-ci.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[change] implement oauth authentication method (resource service only)
  mill/mill-common-security/build.gradle.kts
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/AuthenticationMethod.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/AuthenticationType.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/oauth2/OAuth2ResourceServiceAuthenticationMethod.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/token/DefaultJwtDecoder.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/token/TokenAuthenticationMethod.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/OAuth2AuthenticationConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/PasswordAuthenticationConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/SecurityConfig.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/TokenAuthenticationConfiguration.java
  mill/mill-common-security/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/AuthenticationBaseTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/annotations/OnSecurityEnabledConditionTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/AuthenticationMethodsTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/BaseTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/password/BasicAuthenticationTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/token/OAuthAuthenticationTest.java
  mill/mill-common-security/src/test/resources/application-test-trivial.yml
  mill/mill-service/config/test/application-auth.yml
  mill/mill-service/src/main/resources/application.yml
  mill/mill-starter-grpc-service/src/main/java/io/qpointz/mill/services/configuration/GrpcServiceSecurityConfiguration.java
  mill/mill-starter-services/src/main/java/io/qpointz/mill/services/metainfo/controllers/ApplicationDescriptorController.java
  mill/mill-test-common/build.gradle.kts
  mill/mill-test-common/src/main/java/io/qpointz/mill/test/OnTestKitCondition.java
  mill/mill-test-common/src/main/java/io/qpointz/mill/test/security/OAuth2ServerConfuguration.java
  mill/mill-test-common/src/main/java/io/qpointz/mill/test/services/MainLala.java
  mill/mill-test-common/src/main/java/io/qpointz/mill/test/services/TestController.java
  mill/mill-test-common/src/main/java/io/qpointz/mill/test/services/TestService.java
  mill/mill-test-common/src/main/resources/application.yml
Due: mill:build, mill-clients:build

[new] basic authentication implementation for function
  mill/mill-azure-service-function/build.gradle.kts
  mill/mill-azure-service-function/src/main/java/io/qpointz/mill/azure/functions/AzureBackendFunctions.java
  mill/mill-azure-service-function/src/main/java/io/qpointz/mill/azure/functions/BackendFunctions.java
  mill/mill-azure-service-function/src/main/java/io/qpointz/mill/azure/functions/SecurityContextHolderDecorator.java
  mill/mill-azure-service-function/src/main/resources/application.properties
  mill/mill-azure-service-function/src/main/resources/pwd/passwd.yml
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/AuthenticationReader.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/CompositeAuthenticationReader.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/basic/BasicAuthenticationMethod.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/basic/BasicAuthenticationReader.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/basic/PasswordAuthenticationConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/basic/providers/User.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/basic/providers/UserRepo.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/basic/providers/UserRepoAuthenticationProvider.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/oauth2/OAuth2AuthenticationConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/password/PasswordAuthenticationReader.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/SecurityConfig.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/BaseTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/basic/BasicAuthenticationReaderTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/basic/BasicAuthenticationTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/basic/providers/UserRepoAuthenticationProviderTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/basic/providers/UserRepoTest.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/ServiceHandler.java
Due: mill:build, mill-clients:build

[new:mill] improve authentication implementation
  mill/.gitlab-ci.yml
  mill/clients/etc/test-backend-server/application-auth.yml
  mill/mill-azure-service-function/src/main/java/io/qpointz/mill/azure/functions/BackendFunctions.java
  mill/mill-azure-service-function/src/main/java/io/qpointz/mill/azure/functions/FunctionContainerConfig.java
  mill/mill-azure-service-function/src/main/java/io/qpointz/mill/azure/functions/SecurityContextHolderDecorator.java
  mill/mill-azure-service-function/src/main/resources/application.properties
  mill/mill-azure-service-function/src/test/resources/.gitkeep
  mill/mill-common-security/build.gradle.kts
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/AuthenticationMethods.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/basic/BasicAuthenticationReader.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/basic/PasswordAuthenticationConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/oauth2/OAuth2AuthenticationConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/token/BearerTokenAuthenticationReader.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/token/EntraIdAuthenticationConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/token/EntraIdAuthenticationMethod.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/token/EntraIdProfileLoader.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/token/EntraIdTokenAuthenticationProvider.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/SecurityConfig.java
  mill/mill-common-security/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/AuthenticationMethodsTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/basic/BasicAuthenticationReaderTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/token/BearerTokenAuthenticationReaderTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/token/EntraIdAuthenticationTest.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/token/EntraIdProfileLoaderTest.java
  mill/mill-common-security/src/test/resources/application-test-trivial.yml
  mill/mill-service/config/default/application-auth.yml
  mill/mill-service/config/test/application-auth.yml
  mill/mill-service/src/main/java/io/qpointz/mill/services/PropertyLogger.java
  mill/mill-service/src/main/resources/application.yml
  mill/mill-starter-grpc-service/src/test/resources/application-test.yml
  mill/mill-starter-services/src/test/resources/application-test-jdbc.yml
Due: mill:build, mill-clients:build

[doc] try mkdocs as rst replacement
  mill/docs/mkdocs.yml
  mill/docs/requirements.txt
  mill/docs/src/backends/calcite.md
  mill/docs/src/backends/index.md
  mill/docs/src/backends/jdbc.md
  mill/docs/src/index.md
  mill/docs/src/installation.md
  mill/docs/src/quickstart.md
  mill/docs/src/security/index.md
  mill/docs/src/test.md
Due: mill:build, mill-clients:build

[new] implement plan dispatcher to ease building substrait plans
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/configuration/DefaultServiceConfiguration.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/dispatchers/PlanDispatcher.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/dispatchers/PlanDispatcherImpl.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/dispatchers/PlanHelper.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/dispatchers/PlanDispatcherImplTest.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/dispatchers/PlanHelperTest.java
  mill/mill-common/src/main/java/io/qpointz/mill/plan/LogicalFunctionHelper.java
  mill/mill-common/src/main/java/io/qpointz/mill/sql/RecordReaders.java
  mill/mill-common/src/main/java/io/qpointz/mill/types/DataTypeToSubstrait.java
  mill/mill-common/src/main/java/io/qpointz/mill/types/LogicalTypeToSubstrait.java
  mill/mill-common/src/main/java/io/qpointz/mill/types/logical/IntervalDayLogical.java
  mill/mill-sample-service/src/main/java/io/qpointz/mill/services/sample/controllers/SampleController.java
  mill/mill-sample-service/src/main/java/io/qpointz/mill/services/sample/services/DataService.java
  mill/mill-sample-service/src/main/java/io/qpointz/mill/services/sample/services/DataServiceImpl.java
  mill/mill-sample-service/src/test/java/io/qpointz/mill/services/sample/controllers/SampleControllerTest.java
Due: mill:build, mill-clients:build

[change:mill] rename MillGrps service to DataConnect service
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/GrpcMillClient.java
  mill/clients/mill-py/millclient/client.py
  mill/clients/mill-py/millclient/proto/io/qpointz/mill/__init__.py
  mill/mill-starter-backends/src/test/java/io/qpointz/mill/services/calcite/BaseTest.java
  mill/mill-starter-grpc-service/src/main/java/io/qpointz/mill/services/MillGrpcService.java
  mill/mill-starter-grpc-service/src/main/java/io/qpointz/mill/services/configuration/GrpcServiceSecurityConfiguration.java
  mill/mill-starter-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceBaseTest.java
  mill/mill-starter-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceExecuteTest.java
  mill/mill-starter-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceMetadataTest.java
  mill/mill-starter-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceRewriteTest.java
  mill/mill-starter-grpc-service/src/test/java/io/qpointz/mill/services/MillServiceBaseTestConfiguration.java
  mill/proto/data_connect_svc.proto
Due: mill:build, mill-clients:build

[fix:mill-jdbc] authorization header not passed to http request
  mill/clients/etc/test-backend-server/application-auth.yml
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/HttpMillClient.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillClientCallCredentials.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/basic/PasswordAuthenticationConfiguration.java
  mill/mill-common-security/src/test/resources/application-test-policy-inline.yaml
  mill/mill-common-security/src/test/resources/application-test-trivial.yml
  mill/mill-common-service/src/test/resources/application-test-cmart.yaml
  mill/mill-service/config/default/application-auth.yml
  mill/mill-service/config/test/application-auth.yml
  mill/mill-service/src/main/resources/application.yml
  mill/mill-starter-grpc-service/src/test/resources/application-test.yml
  mill/mill-starter-services/src/test/resources/application-test-jdbc.yml
Due: mill:build, mill-clients:build

[fix] use columnLabels instead of columnNames when building vector schema
  etc/docker/sbt-ci/Dockerfile
  flow/project/build.properties
  mill/mill-common/src/main/java/io/qpointz/mill/vectors/sql/ResultSetVectorBlockIterator.java
  mill/mill-starter-backends/src/test/java/io/qpointz/mill/services/calcite/providers/CalciteExecutionProviderTest.java
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

initial ui
  mill/mill-ui/server-capabilities/.gitignore
  mill/mill-ui/server-capabilities/README.md
  mill/mill-ui/server-capabilities/eslint.config.js
  mill/mill-ui/server-capabilities/index.html
  mill/mill-ui/server-capabilities/package-lock.json
  mill/mill-ui/server-capabilities/package.json
  mill/mill-ui/server-capabilities/public/vite.svg
  mill/mill-ui/server-capabilities/src/App.css
  mill/mill-ui/server-capabilities/src/App.jsx
  mill/mill-ui/server-capabilities/src/assets/react.svg
  mill/mill-ui/server-capabilities/src/components/Schemas.jsx
  mill/mill-ui/server-capabilities/src/components/Services.jsx
  mill/mill-ui/server-capabilities/src/components/UnknownCapability.jsx
  mill/mill-ui/server-capabilities/src/index.css
  mill/mill-ui/server-capabilities/src/main.jsx
  mill/mill-ui/server-capabilities/vite.config.js
Due: mill:build, mill-clients:build

[fix] jdbc backend ignores user/password configuration [feat] webpack+react template
  mill/mill-service/application-trino.yml
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcCalciteConfiguration.java
  mill/settings.gradle.kts
  misc/react-webpack-app/.babelrc
  misc/react-webpack-app/package.json
  misc/react-webpack-app/public/index.html
  misc/react-webpack-app/src/index.jsx
  misc/react-webpack-app/webpack.config.js
Due: mill:build, mill-clients:build

[change]: update to substrait 0.69 and substrait-java 0.60
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/istmus/SqlConverterBase.java
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/istmus/SqlToSubstrait.java
  mill/proto/substrait/algebra.proto
  mill/proto/substrait/parameterized_types.proto
  mill/proto/substrait/plan.proto
  mill/proto/substrait/type.proto
  mill/proto/substrait/type_expressions.proto
  mill/settings.gradle.kts
  mill/test/plans/trivial.json
Due: mill:build, mill-clients:build

[change]: upgrade to Apache Calcite 1.40 [change]: bump dependencies
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/RelDataTypeConverter.java
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/RelToDatabaseTypeConverter.java
  mill/settings.gradle.kts
Due: mill:build, mill-clients:build

[fix]: when columns renamed on Sort node , sorting not applied properly Project doesnt retain names after converting to phisical plan executor. Names now set at vector (app) level
  mill/mill-common/src/main/java/io/qpointz/mill/vectors/sql/ResultSetVectorBlockIterator.java
  mill/mill-common/src/test/java/io/qpointz/mill/sql/ResultSetVectorBlockIteratorTest.java
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/providers/CalciteExecutionProvider.java
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/providers/CalcitePlanConverter.java
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/providers/PlanConverter.java
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcExecutionProvider.java
  mill/mill-starter-backends/src/test/java/io/qpointz/mill/services/calcite/providers/CalcitePlanConverterTest.java
  mill/mill-starter-backends/src/test/java/io/qpointz/mill/services/jdbc/providers/JdbcExecutionProviderTest.java
  mill/services/mill-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceExecuteTest.java
  mill/services/mill-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceRewriteTest.java
Due: mill:build, mill-clients:build
