Repository qpointz/qpointz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init-job, build-rapids, build-flow

.gitlab-ci.yml:

stages:
  - init
  - test
  - build
  - package


init-job:
  stage: init
  trigger:
    include:
      - local: .gitlab/pipelines/ci-init.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        
build-rapids:
  stage: build
  needs:
    - job: init-job
      optional: true
  trigger:
    include:
      - local: rapids/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - rapids/**/*

build-flow:
  stage: build
  needs:
    - job: init-job
      optional: true
  trigger:
    include:
      - local: flow/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - flow/**/*

[fix] building rapids docker images
  .gitlab-ci.yml
  rapids/.gitlab-ci.yml
Due: init-job, build-rapids, build-flow

[fix] fixing flow build
  flow/.gitlab-ci.yml
  flow/build.sbt
  flow/project/plugins.sbt
Due: build-flow

[code, cleanup] moved rapids etc to top level folder
  etc/msynth/.gitignore
  etc/msynth/formats.yaml
  etc/msynth/models.yaml
  etc/msynth/msynth/__init__.py
  etc/msynth/msynth/__main__.py
  etc/msynth/msynth/main.py
  etc/msynth/msynth/provider.py
  etc/msynth/msynth/tests/__init__.py
  etc/msynth/msynth/tests/test_arguments.py
  etc/msynth/pyproject.toml
  etc/msynth/requirements.txt
  etc/terraform/.gitignore
  etc/terraform/main.tf
  etc/terraform/variables.tf
  rapids/etc/.gitignore
Due: build-rapids

[docs] promoted docs to top level folder
  .gitlab-ci.yml
  .gitlab/pipelines/ci-init.yml
  .gitlab/vars.yml
  docs/.gitignore
  docs/.gitlab-ci.yml
  docs/Makefile
  docs/make.bat
  docs/source/about/Overview.rst
  docs/source/conf.py
  docs/source/formats/Avro.rst
  docs/source/formats/Excel.rst
  docs/source/formats/Overview.rst
  docs/source/formats/Parquet.rst
  docs/source/formats/Text.rst
  docs/source/index.rst
  docs/source/install/Overview.rst
  docs/source/install/RunBehindReverseProxy.rst
  docs/source/overview/Concepts.rst
  docs/source/overview/DataModel.rst
  docs/source/overview/Repl.rst
  docs/source/overview/Sources.rst
  docs/source/schema/Feed.rst
  docs/source/schema/Interface.rst
  docs/source/schema/Overview.rst
  docs/source/schema/Structure.rst
  docs/source/test.json
  etc/docker/ci-sphinx/Dockerfile
  flow/etc/docker/enzyme-ci-sphinx/Dockerfile
Due: init-job, build-rapids, build-flow

[docs] integrate sphinx multiversion
  docs/.gitlab-ci.yml
  docs/Makefile
  docs/make.bat
  docs/source/conf.py
  etc/docker/ci-sphinx/Dockerfile
Due: init-job, build-rapids, build-flow

[code] introduced global version
  .gitlab-ci.yml
  .gitlab/pipelines/ci-init.yml
  .gitlab/vars.yml
  VERSION
  docs/.gitlab-ci.yml
  docs/source/conf.py
  etc/docker/graalvm-ci/Dockerfile
  etc/docker/gradle-ci/Dockerfile
  etc/docker/gradle-ci/settings.xml
  etc/docker/sbt-ci/Dockerfile
  etc/docker/sbt-ci/ivysettings-file.properties
  etc/docker/sbt-ci/settings.xml
  etc/docker/sphinx-ci/Dockerfile
Due: init-job, build-rapids, build-flow

[doc] first documentation version
  docs/source/conf.py
  docs/source/index.rst
Due: none

[wip] add version, improve document building
  docs/.gitlab-ci.yml
  docs/source/conf.py
  etc/docker/sphinx-ci/Dockerfile
  etc/docker/sphinx-ci/multi-version-info.py
Due: init-job, build-rapids, build-flow

[doc] prepare documentation to publish to giotlab pages including versions support
  VERSION
  docs/.gitignore
  docs/.gitlab-ci.yml
  docs/source/conf.py
  etc/docker/sphinx-ci/multi-version-info.py
  flow/project/BuildSettings.scala
Due: init-job, build-rapids, build-flow

[doc] version for document has to be read from VERSIONS file
  docs/source/conf.py
Due: none

[wip]
  .gitignore
  docs/source/index.rst
  docs/source/rapids/configuration.rst
  docs/source/rapids/deployment
  docs/source/rapids/quickstart.rst
  docs/source/rapids/services.rst
  rapids/rapids-grpc/build.gradle.kts
  rapids/rapids-grpc/src/main/java/io/qpointz/rapids/server/ServerClient.java
  rapids/rapids-grpc/src/main/java/io/qpointz/rapids/server/ServerMain.java
  rapids/rapids-grpc/src/main/proto/server.proto
Due: build-rapids

[wip]
  .gitlab/jobs.yml
  docs/source/rapids/configuration.rst
Due: init-job, build-rapids, build-flow

[wip]
  .gitlab/jobs.yml
  rapids/.gitlab-ci.yml
Due: init-job, build-rapids, build-flow

[build] fix docker hub tags issue
  .gitlab/jobs.yml
  flow/.gitlab-ci.yml
  rapids/.gitlab-ci.yml
Due: init-job, build-rapids, build-flow

[clean] remove unused projects
  rapids/rapids-core/build.gradle.kts
  rapids/rapids-grpc/build.gradle.kts
  rapids/rapids-grpc/src/main/java/io/qpointz/rapids/server/ServerClient.java
  rapids/rapids-grpc/src/main/java/io/qpointz/rapids/server/ServerMain.java
  rapids/rapids-grpc/src/main/proto/server.proto
  rapids/rapids-providers-azure/build.gradle.kts
  rapids/rapids-testkit/build.gradle.kts
  rapids/settings.gradle.kts
Due: build-rapids

[example] simple rapids example
  example/rapids/basic/README.md
  example/rapids/basic/application.yaml
  example/rapids/basic/model.json
  rapids/.gitlab-ci.yml
  rapids/rapids-core/src/main/resources/logback.xml
  rapids/rapids-srv-worker/build.gradle.kts
  rapids/rapids-srv-worker/src/main/java/io/qpointz/rapids/server/worker/JdbcService.java
  rapids/rapids-srv-worker/src/main/java/io/qpointz/rapids/server/worker/ODataService.java
  rapids/rapids-srv-worker/src/main/resources/logback.xml
  rapids/settings.gradle.kts
Due: build-rapids

[clean] unused rapids project [new] initial grpc server implementation
  rapids/rapids-formats-avro-parquet/build.gradle.kts
  rapids/settings.gradle.kts
Due: build-rapids

[doc] improve documentaiton build pipelime
  .gitlab/jobs.yml
  .gitlab/pipelines/ci-init.yml
  .gitlab/vars.yml
  docs/.gitlab-ci.yml
  docs/.idea/.gitignore
  docs/.idea/docs.iml
  docs/.idea/modules.xml
  docs/.idea/vcs.xml
  docs/source/about/Overview.md
  docs/source/about/Overview.rst
  docs/source/conf.py
  docs/source/rapids/deployment
  docs/source/rapids/deployment.md
  etc/docker/python-ci/Dockerfile
  etc/docker/sphinx-ci/Dockerfile
  etc/docker/sphinx-ci/multi-version-info.py
  etc/docker/sphinx-ci/tupler.py
  rapids/rapids-core/build.gradle.kts
  rapids/rapids-core/src/testIT/java/io/qpointz/rapids/formats/parquet/AzureADLSParquetSchemaITTest.java
  rapids/rapids-server-core/build.gradle.kts
  rapids/rapids-server-core/src/main/java/io/qpointz/rapids/server/ServerClient.java
  rapids/rapids-server-core/src/main/java/io/qpointz/rapids/server/ServerMain.java
  rapids/rapids-server-core/src/main/proto/server.proto
  rapids/rapids-server-core/src/main/resources/logback.xml
  rapids/settings.gradle.kts
Due: init-job, build-rapids, build-flow

[fix] fixing documentation build for non feature branches
  docs/.gitlab-ci.yml
Due: none

[wip]
  rapids/.gitignore
  rapids/settings.gradle.kts
Due: build-rapids

[testy ui]
  delta/delta-ui/.gitignore
  delta/delta-ui/README.md
  delta/delta-ui/package-lock.json
  delta/delta-ui/package.json
  delta/delta-ui/public/favicon.ico
  delta/delta-ui/public/index.html
  delta/delta-ui/public/logo192.png
  delta/delta-ui/public/logo512.png
  delta/delta-ui/public/manifest.json
  delta/delta-ui/public/robots.txt
  delta/delta-ui/src/App.css
  delta/delta-ui/src/App.js
  delta/delta-ui/src/App.test.js
  delta/delta-ui/src/Hello.js
  delta/delta-ui/src/index.css
  delta/delta-ui/src/index.js
  delta/delta-ui/src/logo.svg
  delta/delta-ui/src/reportWebVitals.js
  delta/delta-ui/src/setupTests.js
  delta/package-lock.json
Due: none

[poc] lineage reporting parsing proto
  delta/delta-lineage/build.gradle.kts
  delta/delta-lineage/sql/first.sql
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/LineageEntry.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/LineageItems.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/LineageShuttle.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/LineageTable.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/SqlParse.java
  delta/settings.gradle.kts
Due: none

[new] command line utility
  delta/delta-lineage/build.gradle.kts
  delta/delta-lineage/sql/first.sql
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/Entry.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/LineageEntry.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/LineageItems.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/LineageShuttle.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/SqlParse.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/commands/Dialects.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/commands/Report.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/commands/Root.java
Due: none

[new] refactoring [change] improve parsing [fix] fixing test
  delta/delta-lineage/build.gradle.kts
  delta/delta-lineage/sql/first.sql
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/FileParse.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/SqlParse.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/commands/Report.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/model/LineageRepository.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/reports/BasicReport.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/reports/OpenLineageReport.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/reports/Report.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/statements/CreateTable.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/statements/NoopStatement.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/statements/SelectStatement.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/statements/Statement.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/statements/Statements.java
  delta/delta-lineage/src/test/java/io/qpointz/delta/lineage/BaseTest.java
  delta/delta-lineage/src/test/java/io/qpointz/delta/lineage/LineageShuttleTest.java
  delta/delta-lineage/src/test/resources/TestModel.sql
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/calcite/BaseTest.java
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/calcite/CalciteExecutionProviderTest.java
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/calcite/SchemaPlusSchemaProviderTest.java
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/calcite/SubstraitSqlParserProviderTest.java
  delta/delta-service-calcite/src/test/resources/application-test.yaml
Due: none

[new] refactoring
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/statements/NopeStatement.java
Due: none

[change] improve parsing [fix] fixing test
  delta/delta-jdbc-driver/.dockerignore
  delta/delta-jdbc-driver/Dockerfile
  delta/delta-lineage/.dockerignore
  delta/delta-lineage/Dockerfile
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/statements/NopeStatement.java
Due: none

[build] add docker definitions
  delta/delta-service-calcite/.dockerignore
  delta/delta-service-calcite/Dockerfile
  delta/delta-service-calcite/build.gradle.kts
Due: none

[change] full sql implementation
  delta/.gitlab-ci.yml
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/LineageItems.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/LineageShuttle.java
  delta/delta-lineage/src/test/java/io/qpointz/delta/lineage/LineageShuttleTest.java
  delta/delta-service-calcite/src/main/resources/application.yaml
Due: none

[change] full sql implementation
  delta/.gitlab-ci.yml
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/LineageItems.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/LineageShuttle.java
  delta/delta-lineage/src/test/java/io/qpointz/delta/lineage/LineageShuttleTest.java
Due: none

[new] implement parse only command
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/FileParse.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/SqlParse.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/commands/Parse.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/commands/Report.java
  delta/delta-lineage/src/main/java/io/qpointz/delta/lineage/commands/Root.java
  delta/delta-lineage/src/test/java/io/qpointz/delta/lineage/LineageShuttleTest.java
  delta/delta-service-calcite/src/main/resources/application-local.yaml
Due: none

[change] extending to use redux and api [refacto] controls generalize
  delta/package-lock.json
  delta/rapids-navigator-api/build.gradle.kts
  delta/rapids-navigator-api/project/experiments/exp1.json
  delta/rapids-navigator-api/project/experiments/exp2.json
  delta/rapids-navigator-api/project/lala.yaml
  delta/rapids-navigator-api/project/sources/source.json
  delta/rapids-navigator-api/src/main/java/io/qpointz/rapids/navigator/controllers/ContentController.java
  delta/rapids-navigator-api/src/main/java/io/qpointz/rapids/navigator/controllers/ModelController.java
  delta/rapids-navigator-api/src/main/java/io/qpointz/rapids/navigator/services/ContentService.java
  delta/rapids-navigator-api/src/main/java/io/qpointz/rapids/navigator/services/ModelService.java
  delta/rapids-navigator-api/src/main/java/io/qpointz/rapids/navigator/services/ProjectService.java
  delta/rapids-navigator-ui/package-lock.json
  delta/rapids-navigator-ui/package.json
  delta/rapids-navigator-ui/src/App.test.tsx
  delta/rapids-navigator-ui/src/features/experiment.tsx
  delta/rapids-navigator-ui/src/features/experimentApi.tsx
  delta/rapids-navigator-ui/src/features/modelApi.tsx
  delta/rapids-navigator-ui/src/features/source.tsx
  delta/rapids-navigator-ui/src/features/store.tsx
  delta/rapids-navigator-ui/src/index.tsx
  delta/rapids-navigator-ui/src/layout/Experiment.tsx
  delta/rapids-navigator-ui/src/layout/Source.tsx
  delta/rapids-navigator-ui/src/layout/TreeNavigation.tsx
Due: none

[fix] fixing build
  delta/.gitlab-ci.yml
Due: none

[feat:build] integrate semantic release into build process
  .gitlab-ci.yml
  .gitlab/jobs.yml
  .gitlab/pipelines/ci-init.yml
  .gitlab/vars.yml
  .releaserc
  VERSION
  delta/.gitlab-ci.yml
  etc/docker/sem-release-ci/Dockerfile
  flow/flow-cli/src/main/scala/io/qpointz/flow/cli/noise/Poly.scala
Due: init-job, build-rapids, build-flow
