Repository qpointz/qpointz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-init, rapids:build, flow:build, delta:build, docs:build

.gitlab-ci.yml:

include:
  - local : /.gitlab/vars.yml
  - local : /.gitlab/jobs.yml

stages:
  - init
  - build  
  - finalize


ci-init:
  stage: init
  trigger:
    include:
      - local: .gitlab/pipelines/ci-init.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*

ci-init:release-init:
  image: ${CI_IMAGE_SEM_RELEASE}
  stage: init
  needs:
    - job: ci-init
      artifacts: false
      optional: true
  script:
    - export QP_VERSION_SFX="-${CI_COMMIT_REF_SLUG}"
    - |
        if [[ "master" == "${CI_COMMIT_REF_SLUG}" || "main" == "${CI_COMMIT_REF_SLUG}" || "dev" == "${CI_COMMIT_REF_SLUG}" ]]
        then
          export QP_VERSION_SFX=""
        fi
    - echo "VERSION_SFX:${QP_VERSION_SFX}"
    - npx semantic-release --branches $CI_COMMIT_REF_NAME	 --dry-run --no-ci
    - echo $(cat ${CI_PROJECT_DIR}/VERSION)${QP_VERSION_SFX} > ${CI_PROJECT_DIR}/VERSION
    - echo "BUILD VERSION:$(cat ${CI_PROJECT_DIR}/VERSION)"

finalize:release:
  image: ${CI_IMAGE_SEM_RELEASE}
  stage: finalize
  only:
    - master
    - main 
    - dev
  script:
    - npx semantic-release --ci --debug
        
rapids:build:
  stage: build
  trigger:
    include:
      - local: rapids/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - rapids/**/*

flow:build:
  stage: build
  trigger:
    include:
      - local: flow/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - flow/**/*  

delta:build:
  stage: build
  trigger:
    include:
      - local: delta/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - delta/**/*              

docs:build:
  stage: build
  trigger:
    include:
      - local: docs/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - docs/**/*

[fix:build] clean unused CI images to improve build speed
  .gitlab-ci.yml
  .gitlab/pipelines/ci-init.yml
  etc/docker/python-ci/Dockerfile
  etc/docker/sphinx-ci/Dockerfile
  etc/docker/sphinx-ci/tupler.py
Due: ci-init, rapids:build, flow:build, delta:build, docs:build

[fix:build] configure semantic-release to generate changelog and gitlab release
  .gitlab-ci.yml
  .gitlab/vars.yml
  .kreya/delta/delta.krproj
  .kreya/delta/directory.krpref
  .releaserc
  etc/docker/sem-release-ci/Dockerfile
Due: ci-init, rapids:build, flow:build, delta:build, docs:build

[fix:build] change release configuration, clean up files [build:dependencies] bump dependencies
  .releaserc
  delta/delta-core/build.gradle.kts
  delta/delta-lineage/build.gradle.kts
  delta/delta-service-core/build.gradle.kts
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/DeltaServiceBase.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/MetaDataServiceBase.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/ServiceSecurityConfig.java
  delta/proto/common.proto
  delta/proto/service.proto
  delta/proto/statement.proto
  delta/proto/vector.proto
  delta/settings.gradle.kts
Due: delta:build

[change:delta] change custom response code to grpc status
  delta/delta-core/build.gradle.kts
  delta/delta-service-core/build.gradle.kts
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/DeltaService.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/DeltaServiceContext.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/DeltaServiceExceptionAdvice.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/ExecutionProvider.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/MetadataProvider.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/ResponseStatuses.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/SecurityProvider.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/SqlProvider.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/configuration/DeltaServiceConfiguration.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/utils/SubstraitUtils.java
  delta/delta-service-core/src/test/java/io/qpointz/delta/service/DeltaServiceBaseTest.java
  delta/delta-service-core/src/test/java/io/qpointz/delta/service/DeltaServiceBaseTestConfiguration.java
  delta/delta-service-core/src/test/java/io/qpointz/delta/service/DeltaServiceExecuteTest.java
  delta/delta-service-core/src/test/java/io/qpointz/delta/service/DeltaServiceMetadataTest.java
  delta/delta-service-core/src/test/java/io/qpointz/delta/service/DeltaServiceSqlTest.java
  delta/delta-service-core/src/test/java/io/qpointz/delta/service/H2Db.java
  delta/delta-service-core/src/test/java/io/qpointz/delta/service/configuration/DeltaServiceConfigurationTest.java
  delta/delta-service-core/src/test/resources/application-test.yml
  delta/proto/common.proto
  delta/proto/service.proto
  delta/proto/statement.proto
  delta/proto/vector.proto
  delta/settings.gradle.kts
Due: delta:build

[change:delta] implement calcite service for new delta service
  delta/build.gradle.kts
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/CalciteDeltaService.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/CalciteExecutionProvider.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/SubstraitSqlParserProvider.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/configuration/CalciteProvidersConfiguration.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/providers/CalciteExecutionProvider.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/providers/CalciteMetadataProvider.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/providers/CalciteSqlProvider.java
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/calcite/CalciteExecutionProviderTest.java
  delta/settings.gradle.kts
Due: delta:build

[change:delta-calcite] prepare integration test setup
  .gitlab/sonarqube.txt
  delta/.gitlab-ci.yml
  delta/delta-core/build.gradle.kts
  delta/delta-core/src/main/java/io/qpointz/delta/sql/BlockReader.java
  delta/delta-core/src/main/java/io/qpointz/delta/sql/ResultSetVectorBlockIterator.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/CalciteDeltaService.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/configuration/CalciteConfiguration.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/configuration/CalciteProvidersConfiguration.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/configuration/CalciteServiceCalciteContextConfiguration.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/configuration/CalciteServiceProvidersContextConfiguration.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/providers/CalciteContext.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/providers/CalciteExecutionProvider.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/providers/CalciteMetadataProvider.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/calcite/providers/CalciteSqlProvider.java
  delta/delta-service-calcite/src/main/resources/application-local.yaml
  delta/delta-service-calcite/src/test/data/model.yaml
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/calcite/BaseTest.java
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/calcite/CalciteExecutionProviderTest.java
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/calcite/SchemaPlusSchemaProviderTest.java
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/calcite/SubstraitSqlParserProviderTest.java
  delta/delta-service-calcite/src/test/resources/application-test.yaml
  delta/delta-service-calcite/src/test/resources/logback.xml
  delta/delta-service-core/build.gradle.kts
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/DeltaService.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/SqlProvider.java
  delta/delta-service-core/src/main/java/io/qpointz/delta/service/ui/UIConfig.java
  delta/delta-service-core/src/test/java/io/qpointz/delta/service/DeltaServiceExecuteTest.java
  delta/proto/service.proto
  delta/settings.gradle.kts
  rapids/.gitlab-ci.yml
Due: ci-init, rapids:build, flow:build, delta:build, docs:build

[build] add rc branch , master branch renamed to main
  .gitlab-ci.yml
  .gitlab/jobs.yml
  .releaserc
  docs/.gitlab-ci.yml
  docs/source/conf.py
  etc/docker/base-ci/Dockerfile
  etc/docker/sbt-ci/Dockerfile
  etc/docker/sphinx-ci/multi-version-info.py
  flow/.gitlab-ci.yml
  flow/etc/docker/theia-scala/home/.gitconfig
  rapids/.gitlab-ci.yml
Due: ci-init, rapids:build, flow:build, delta:build, docs:build

[feat:delta-calctite] change delta calcite codebase to reflect components hierarchy
  delta/delta-service-calcite/etc/application.yaml
  delta/delta-service-calcite/etc/model.yaml
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/service/CalciteDeltaService.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/service/calcite/configuration/CalciteConfiguration.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/service/calcite/configuration/CalciteServiceCalciteContextConfiguration.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/service/calcite/configuration/CalciteServiceProvidersContextConfiguration.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/service/calcite/istmus/SqlConverterBase.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/service/calcite/istmus/SqlToSubstrait.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/service/calcite/providers/CalciteContext.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/service/calcite/providers/CalciteExecutionProvider.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/service/calcite/providers/CalciteMetadataProvider.java
  delta/delta-service-calcite/src/main/java/io/qpointz/delta/service/calcite/providers/CalciteSqlProvider.java
  delta/delta-service-calcite/src/main/resources/application-local.yaml
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/service/calcite/BaseTest.java
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/service/calcite/CalciteExecutionProviderTest.java
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/service/calcite/SchemaPlusSchemaProviderTest.java
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/service/calcite/SubstraitSqlParserProviderTest.java
Due: delta:build

[build:delta-calcite] delta calcite docker images build as part of ci pipeline [example:delta-calcite] delta calcite example
  delta/.gitlab-ci.yml
  delta/delta-service-calcite/.dockerignore
  delta/delta-service-calcite/Dockerfile
  delta/delta-service-calcite/build.gradle.kts
  delta/delta-service-calcite/src/main/docker/Dockerfile
  delta/delta-service-calcite/src/main/resources/application.yaml
  delta/delta-service-calcite/src/test/java/io/qpointz/delta/service/calcite/CalciteExecutionProviderTest.java
  delta/delta-service-core/src/main/resources/application.yaml
  etc/examples/delta-calcite/.gitignore
  etc/examples/delta-calcite/README.md
  etc/examples/delta-calcite/compose.yaml
  etc/examples/delta-calcite/config/application.yaml
  etc/examples/delta-calcite/config/model.yaml
  etc/examples/delta-calcite/data/datasets.yaml
Due: delta:build

[change:doc] harmonize documentation version build as part of ci
  .gitlab-ci.yml
  .gitlab/jobs.yml
  VERSION
  delta/.gitlab-ci.yml
  delta/cat
  delta/delta-core/src/main/java/io/qpointz/delta/vectors/VectorBlockIterator.java
  delta/delta-core/src/main/java/io/qpointz/delta/vectors/VectorHandler.java
  delta/delta-core/src/main/java/io/qpointz/delta/vectors/sql/ResultSetVectorBlockIterator.java
  docs/.gitlab-ci.yml
  docs/source/conf.py
  etc/docker/sphinx-ci/Dockerfile
  etc/docker/sphinx-ci/multi-version-info.py
  etc/docker/sphinx-ci/versioner.py
Due: ci-init, rapids:build, flow:build, delta:build, docs:build

[fix:build] generalize docker building
  .gitlab/jobs.yml
  delta/.gitlab-ci.yml
  delta/settings.gradle.kts
  etc/docker/sem-release-ci/Dockerfile
  rapids/.gitlab-ci.yml
Due: ci-init, rapids:build, flow:build, delta:build, docs:build

[new:mill-clients] mill-clients initial, minimal CI/CD configuration
  .gitlab-ci.yml
  .gitlab/pipelines/ci-init.yml
  docs/.gitlab-ci.yml
  mill-clients/.gitlab-ci.yml
  mill-clients/clients/mill-py/codegen.py
  mill-clients/clients/mill-py/protoc.txt
  mill-clients/clients/mill-py/qpointz_delta/.gitignore
  mill-clients/clients/mill-py/qpointz_delta/delta_client.py
  mill-clients/clients/mill-py/qpointz_delta/libs/__init__.py
  mill-clients/clients/mill-py/qpointz_delta/libs/qpointzdelta/__init__.py
  mill-clients/clients/mill-py/qpointz_delta/libs/substrait/__init__.py
  mill-clients/clients/mill-py/qpointz_delta/libs/substrait/extensions/__init__.py
  mill-clients/clients/mill-py/qpointz_delta/main.py
  mill-clients/clients/mill-py/requirements.txt
Due: ci-init, rapids:build, flow:build, delta:build, docs:build

[new:python client]
  .gitlab/jobs.yml
  mill-clients/.gitlab-ci.yml
  mill-clients/mill-py/.gitignore
  mill-clients/mill-py/client2.py
  mill-clients/mill-py/codegen.py
  mill-clients/mill-py/gen.sh
  mill-clients/mill-py/millclient/__init__.py
  mill-clients/mill-py/millclient/client.py
  mill-clients/mill-py/millclient/exceptions.py
  mill-clients/mill-py/millclient/proto/__init__.py
  mill-clients/mill-py/millclient/proto/io/__init__.py
  mill-clients/mill-py/millclient/proto/io/qpointz/__init__.py
  mill-clients/mill-py/millclient/proto/io/qpointz/mill/__init__.py
  mill-clients/mill-py/millclient/proto/substrait/__init__.py
  mill-clients/mill-py/millclient/proto/substrait/extensions/__init__.py
  mill-clients/mill-py/millclient/utils.py
  mill-clients/mill-py/pyproject.toml
  mill-clients/mill-py/requirements.txt
  mill-clients/mill-py/tests/__init__.py
  mill-clients/mill-py/tests/test_mill_client.py
Due: ci-init, rapids:build, flow:build, delta:build, docs:build

[change] clean up unused files
  etc/examples/delta-calcite/.gitignore
  etc/examples/delta-calcite/README.md
  etc/examples/delta-calcite/compose.yaml
  etc/examples/delta-calcite/config/application.yaml
  etc/examples/delta-calcite/config/model.yaml
  etc/examples/delta-calcite/data/datasets.yaml
  etc/terraform/.gitignore
  etc/terraform/main.tf
  etc/terraform/variables.tf
Due: none

[new:samples] create basic examples to run calcite-backend
  mill-clients/.gitlab-ci.yml
  mill-clients/mill-py/tests/test_mill_client.py
  mill/backend-calcite/src/main/resources/application-local-run.yml
  mill/backend-core/build.gradle.kts
  sample/mill/mill-oauth/.env.sh.example
  sample/mill/mill-oauth/.gitignore
  sample/mill/mill-oauth/config/application.yml
  sample/mill/mill-oauth/config/passwd.yml
  sample/mill/mill-oauth/docker-compose.yaml
  sample/mill/mill-simple/docker-compose.yaml
Due: none

[feat:calcite-backend] implement calcite context live reload to allow dynamicaly add schemas
  .gitlab-ci.yml
  docs/.gitlab-ci.yml
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/CalciteMillService.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/CalciteConnectionContextBase.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/CalciteContext.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/CalciteContextFactory.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/ConnectionContextFactory.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/StaticConnectionContextFactory.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/configuration/CalciteConfiguration22.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/configuration/CalciteServiceCalciteContextConfiguration.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/configuration/CalciteServiceProvidersContextConfiguration.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/providers/CalciteExecutionProvider.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/providers/CalciteMetadataProvider.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/providers/CalciteSqlProvider.java
  mill/backend-calcite/src/main/resources/application-local-run.yml
  mill/backend-calcite/src/test/java/io/qpointz/mill/service/calcite/BaseTest.java
  mill/backend-calcite/src/test/java/io/qpointz/mill/service/calcite/CalciteExecutionProviderTest.java
  mill/backend-calcite/src/test/java/io/qpointz/mill/service/calcite/SchemaPlusSchemaProviderTest.java
  mill/backend-calcite/src/test/java/io/qpointz/mill/service/calcite/SubstraitSqlParserProviderTest.java
Due: ci-init, rapids:build, flow:build, delta:build, docs:build

[fix:build] docs build fails on new branches
  docs/.gitlab-ci.yml
Due: docs:build

[fix:sample] enable server TLS for oauth mill example
  sample/mill/mill-oauth/config/application.yml
Due: none

[change:backend] backend must use mill logical type for schemas
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/RelDataTypeConverter.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/RelToDatabaseTypeConverter.java
  mill/backend-calcite/src/main/java/io/qpointz/mill/service/calcite/providers/CalciteMetadataProvider.java
  mill/backend-calcite/src/test/java/io/qpointz/mill/service/calcite/providers/CalciteExecutionProviderTest.java
  mill/backend-calcite/src/test/java/io/qpointz/mill/service/calcite/providers/CalciteMetadataProviderTest.java
  mill/clients/mill-spark/build.gradle.kts
  mill/core/src/main/java/io/qpointz/mill/types/logical/BigIntLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/BinaryLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/BoolLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/DateLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/DoubleLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/FloatLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/IntLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/IntervalDayLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/IntervalYearLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/LogicalType.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/SmallIntLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/StringLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/TimeLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/TimestampLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/TimestampTZLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/TinyIntLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/UUIDLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/sql/DatabaseType.java
  mill/core/src/main/java/io/qpointz/mill/vectors/sql/ResultSetVectorBlockIterator.java
  mill/proto/common.proto
  mill/proto/service.proto
  mill/proto/statement.proto
  mill/settings.gradle.kts
Due: none

[new] boiler plate initial spark source project setup
  mill-clients/mill-spark/.gitignore
  mill-clients/mill-spark/.sbtopts
  mill-clients/mill-spark/build.sbt
  mill-clients/mill-spark/project/BuildSettings.scala
  mill-clients/mill-spark/project/BuildUtils.scala
  mill-clients/mill-spark/project/Dependencies.scala
  mill-clients/mill-spark/project/build.properties
  mill-clients/mill-spark/project/plugins.sbt
  mill-clients/mill-spark/project/project/metals.sbt
  mill-clients/mill-spark/project/project/project/metals.sbt
  mill-clients/mill-spark/project/protoc.sbt
  mill-clients/mill-spark/scalastyle-config.xml
  mill-clients/mill-spark/src/main/protobuf/common.proto
  mill-clients/mill-spark/src/main/protobuf/service.proto
  mill-clients/mill-spark/src/main/protobuf/statement.proto
  mill-clients/mill-spark/src/main/protobuf/substrait/algebra.proto
  mill-clients/mill-spark/src/main/protobuf/substrait/capabilities.proto
  mill-clients/mill-spark/src/main/protobuf/substrait/extended_expression.proto
  mill-clients/mill-spark/src/main/protobuf/substrait/extensions/extensions.proto
  mill-clients/mill-spark/src/main/protobuf/substrait/function.proto
  mill-clients/mill-spark/src/main/protobuf/substrait/parameterized_types.proto
  mill-clients/mill-spark/src/main/protobuf/substrait/plan.proto
  mill-clients/mill-spark/src/main/protobuf/substrait/type.proto
  mill-clients/mill-spark/src/main/protobuf/substrait/type_expressions.proto
  mill-clients/mill-spark/src/main/protobuf/vector.proto
  mill-clients/mill-spark/src/main/scala/io/qpointz/mill/spark/MillDataSources.scala
  mill-clients/mill-spark/src/main/scala/io/qpointz/mill/spark/TestBench.scala
  mill/clients/mill-spark/build.gradle.kts
  mill/settings.gradle.kts
Due: none

[fix:mill] fixing docker definition
  mill/backends/calcite-backend-service/src/main/docker/Dockerfile
Due: none

[fix:mill] fixing docker definition [build] fixing build to always pull mill services
  mill-clients/.gitlab-ci.yml
  mill/backends/calcite-backend-service/src/main/docker/Dockerfile
Due: none

[change:mill] complete type system implementation
  mill/core/src/main/java/io/qpointz/mill/types/conversion/BinaryToUUIDConverter.java
  mill/core/src/main/java/io/qpointz/mill/types/conversion/SqlDateToEpochDayConverter.java
  mill/core/src/main/java/io/qpointz/mill/types/conversion/SqlTimeToMicrosConverter.java
  mill/core/src/main/java/io/qpointz/mill/types/conversion/SqlTimestampToEpochMicrosConverter.java
  mill/core/src/main/java/io/qpointz/mill/types/conversion/ValueConverter.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/DateLogical.java
  mill/core/src/main/java/io/qpointz/mill/vectors/sql/ResultSetColumnReader.java
  mill/core/src/main/java/io/qpointz/mill/vectors/sql/ResultSetVectorProducerFactory.java
  mill/core/src/test/java/io/qpointz/mill/types/conversion/SqlDateToEpochDayConverterTest.java
Due: none

[new:mill] jdbc backend implementation
  mill/backends/calcite-backend-service/etc/config/default/model.yaml
  mill/backends/calcite-backend-service/etc/config/test/model.yaml
  mill/backends/calcite-backend-service/etc/config/test/testdata.sql
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/CalciteMillService.java
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/calcite/configuration/CalciteConfiguration22.java
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/calcite/configuration/CalciteServiceCalciteConfiguration.java
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/calcite/configuration/CalciteServiceProvidersConfiguration.java
  mill/backends/calcite-backend-service/src/test/java/io/qpointz/mill/service/calcite/BaseTest.java
  mill/backends/calcite-backend-service/src/test/java/io/qpointz/mill/service/calcite/SubstraitSqlParserProviderTest.java
  mill/backends/calcite-backend-service/src/test/java/io/qpointz/mill/service/calcite/providers/CalciteMetadataProviderTest.java
  mill/backends/calcite-backend-service/src/test/resources/application-test.yaml
  mill/backends/jdbc-backend-service/build.gradle.kts
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/JdbcMillService.java
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/jdbc/configuration/JdbcServiceProvidersConfiguration.java
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/jdbc/providers/JdbcExecutionProvider.java
  mill/backends/jdbc-backend-service/src/main/resources/application.yml
  mill/core/build.gradle.kts
  mill/settings.gradle.kts
Due: none

[build:mill] bump dependencies
  mill/.sdkmanrc
  mill/backend-service-core/build.gradle.kts
  mill/settings.gradle.kts
Due: none
