Repository qpointz/qpointz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-init, flow:build, mill:build, mill-clients:build, docs:build

ci-init:
  stage: init
  trigger:
    include:
    - local: .gitlab/pipelines/ci-init.yml
    strategy: depend

flow:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
    - local: flow/.gitlab-ci.yml
    strategy: depend

mill:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
    - local: mill/.gitlab-ci.yml
    strategy: depend

mill-clients:build:
  stage: build
  inherit:
    variables: false
  needs:
  - job: mill:build
    optional: true
  trigger:
    include:
    - local: mill-clients/.gitlab-ci.yml
    strategy: depend

docs:build:
  stage: finalize
  inherit:
    variables: false
  trigger:
    include:
    - local: docs/.gitlab-ci.yml
    strategy: depend

[new:mill] implement basic jdbc backend
  mill/.gitlab-ci.yml
  mill/backend-service-core/build.gradle.kts
  mill/backend-service-core/src/main/java/io/qpointz/mill/service/MillService.java
  mill/backends/calcite-backend-service/build.gradle.kts
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/CalciteMillService.java
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/calcite/configuration/CalciteServiceConfiguration.java
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/calcite/configuration/CalciteServiceProperties.java
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/calcite/configuration/CalciteServiceProvidersConfiguration.java
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/calcite/providers/CalciteExecutionProvider.java
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/calcite/providers/CalciteMetadataProvider.java
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/calcite/providers/CalcitePlanConverter.java
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/calcite/providers/PlanConverter.java
  mill/backends/calcite-backend-service/src/test/java/io/qpointz/mill/service/calcite/BaseTest.java
  mill/backends/calcite-backend-service/src/test/java/io/qpointz/mill/service/calcite/providers/CalciteExecutionProviderTest.java
  mill/backends/jdbc-backend-service/build.gradle.kts
  mill/backends/jdbc-backend-service/etc/config/test/testdata.sql
  mill/backends/jdbc-backend-service/src/main/docker/Dockerfile
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/JdbcMillService.java
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/jdbc/configuration/JdbcCalciteConfiguration.java
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/jdbc/configuration/JdbcConnectionConfiguration.java
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/jdbc/configuration/JdbcServiceProvidersConfiguration.java
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/jdbc/providers/JdbcCalciteContextFactory.java
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/jdbc/providers/JdbcContext.java
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/jdbc/providers/JdbcContextFactory.java
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/jdbc/providers/JdbcExecutionProvider.java
  mill/backends/jdbc-backend-service/src/main/java/io/qpointz/mill/service/jdbc/providers/ModelStripShuttle.java
  mill/backends/jdbc-backend-service/src/main/resources/application-local-run.yml
  mill/backends/jdbc-backend-service/src/main/resources/application.yml
  mill/backends/jdbc-backend-service/src/test/java/io/qpointz/mill/service/jdbc/BaseTest.java
  mill/backends/jdbc-backend-service/src/test/java/io/qpointz/mill/service/jdbc/providers/JdbcExecutionProviderTest.java
  mill/backends/jdbc-backend-service/src/test/java/io/qpointz/mill/service/jdbc/providers/JdbcMetadataProviderTest.java
  mill/backends/jdbc-backend-service/src/test/resources/application-test-jdbc.yaml
  mill/settings.gradle.kts
Due: mill:build, mill-clients:build

[build] publish artifacts to maven Please enter the commit message for your changes. Lines starting
  mill/.gitlab-ci.yml
  mill/backends/backend-core/build.gradle.kts
  mill/backends/calcite-backend-service/build.gradle.kts
  mill/backends/jdbc-backend-service/build.gradle.kts
  mill/build.gradle.kts
  mill/core/build.gradle.kts
  mill/core/gradle.properties
  mill/gradle.properties
Due: mill:build, mill-clients:build

[build] sonatype build ready
  VERSION
  mill/.keyring.kbx
  mill/build.gradle.kts
  mill/deb.log
  mill/secring.pgp
Due: mill:build, mill-clients:build

[build] build sonatype bundle to use publisher API
  .gitlab-ci.yml
  VERSION
  mill/.gitlab-ci.yml
  mill/.keyring.kbx
  mill/build.gradle.kts
  mill/deb.log
  mill/secring.pgp
  mill/settings.gradle.kts
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[build] build sonatype bundle to use publisher API
  .gitlab-ci.yml
  VERSION
  mill/.gitlab-ci.yml
  mill/.keyring.kbx
  mill/build.gradle.kts
  mill/deb.log
  mill/secring.pgp
  mill/settings.gradle.kts
  rapids/.gitlab-ci.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[build] build sonatype bundle to use publisher API
  mill/.gitlab-ci.yml
Due: mill:build, mill-clients:build

[fix] provide meaningfull deployement name for sonatype bundle
  mill/.gitlab-ci.yml
Due: mill:build, mill-clients:build

[build] introduce toolchain versioning to reduce number of images build and speed up build
  .gitlab-ci.yml
  .gitlab/pipelines/ci-init.yml
  .gitlab/vars.yml
  docs/.gitlab-ci.yml
  etc/docker/toolchain.yml
  mill/.gitlab-ci.yml
  rapids/.gitlab-ci.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[change:mill-py] streamline async and sync method [example] provide notebook example
  mill-clients/mill-py/client2.py
  mill-clients/mill-py/millclient/client.py
  mill-clients/mill-py/sample.ipynb
Due: mill-clients:build

[fix:mill-py] support all mill logical types
  mill-clients/.gitlab-ci.yml
  mill-clients/mill-py/base64.ipynb
  mill-clients/mill-py/millclient/__init__.py
  mill-clients/mill-py/millclient/_auth.py
  mill-clients/mill-py/millclient/client.py
  mill-clients/mill-py/millclient/utils.py
  mill-clients/mill-py/requirements.txt
  mill-clients/mill-py/tests/test_mill_client.py
  mill-clients/mill-py/tests/test_type_support.py
  mill/core/src/main/java/io/qpointz/mill/types/conversion/LocalDateToEpochConverter.java
  mill/core/src/main/java/io/qpointz/mill/types/conversion/SqlDateToEpochDayConverter.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/DateLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/UUIDLogical.java
  mill/core/src/test/java/io/qpointz/mill/types/conversion/SqlDateToEpochDayConverterTest.java
  mill/core/src/test/java/io/qpointz/mill/vectors/GenerateRoundTripData.java
  mill/core/src/test/resources/roundtrip/roundtrip.json
  mill/test/messages/logical-types.bin
  mill/test/messages/logical-types.msg
  mill/test/messages/logical-types.ref
  sample/mill/mill-oauth/config/application.yml
  sample/mill/mill-oauth/docker-compose.yaml
  sample/mill/mill-simple/docker-compose.yaml
Due: mill:build, mill-clients:build

[change:mill-py] implement authentication and secure connection [build] test mill client against TLS enabled/secured backend service
  .gitlab/pipelines/ci-init.yml
  .gitlab/vars.yml
  etc/.gitignore
  etc/docker/minica/Dockerfile
  etc/docker/toolchain.yml
  mill-clients/.gitlab-ci.yml
  mill-clients/mill-py/etc/mill-test-service/Dockerfile
  mill-clients/mill-py/etc/mill-test-service/application-jwt.yml
  mill-clients/mill-py/etc/mill-test-service/application-tls.yml
  mill-clients/mill-py/millclient/_auth.py
  mill-clients/mill-py/millclient/client.py
  mill-clients/mill-py/tests/test_connect.py
  mill-clients/mill-py/tests/test_mill_client.py
  mill-clients/mill-py/tests/test_type_support.py
  mill/.gitlab-ci.yml
  mill/backends/calcite-backend-service/build.gradle.kts
  mill/backends/calcite-backend-service/etc/config/default/application.yaml
  mill/backends/calcite-backend-service/src/main/docker/Dockerfile
  mill/test/messages/logical-types.bin
  mill/test/messages/logical-types.msg
  mill/test/messages/logical-types.ref
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[feat:mill-py] support time and date types
  mill-clients/.gitlab-ci.yml
  mill-clients/mill-py/millclient/utils.py
  mill-clients/mill-py/requirements.txt
  mill-clients/mill-py/tests/test_type_support.py
  mill/.gitlab-ci.yml
  mill/core/src/main/java/io/qpointz/mill/types/conversion/LocalDateTimeToEpochMilli.java
  mill/core/src/main/java/io/qpointz/mill/types/conversion/LocalTimeToNanoConverter.java
  mill/core/src/main/java/io/qpointz/mill/types/conversion/ZonedDateTimeToEpochMillis.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/DateLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/TimeLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/TimestampLogical.java
  mill/core/src/main/java/io/qpointz/mill/types/logical/TimestampTZLogical.java
  mill/core/src/test/java/io/qpointz/mill/vectors/GenerateRoundTripData.java
  mill/core/src/test/java/io/qpointz/mill/vectors/MappingVectorProducerTest.java
  mill/test/messages/logical-types.bin
  mill/test/messages/logical-types.msg
  mill/test/messages/logical-types.ref
Due: mill:build, mill-clients:build

[fix:mill-calcite] field names (and aliases) replaces with symbolic field name
  mill-clients/mill-py/sample.ipynb
  mill/backends/calcite-backend-service/src/main/java/io/qpointz/mill/service/calcite/providers/CalcitePlanConverter.java
  mill/backends/calcite-backend-service/src/test/java/io/qpointz/mill/service/calcite/providers/CalcitePlanConverterTest.java
Due: mill:build, mill-clients:build

[fix:mill] empty execution result should return one empty vector block with schema and size 0
  mill-clients/mill-py/tests/test_mill_client.py
  mill/backends/backend-core/src/test/java/io/qpointz/mill/service/MillServiceExecuteTest.java
  mill/core/src/main/java/io/qpointz/mill/vectors/sql/ResultSetVectorBlockIterator.java
Due: mill:build, mill-clients:build

[change:jdbc-driver] extend database metadata supported by jdbc driver
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillDatabaseMetadata.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/metadata/CatalogsMetadata.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/metadata/ColumnsMetadata.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/metadata/MetadataUtils.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/metadata/TablesMetadata.java
  mill/clients/mill-jdbc-driver/src/main/resources/META-INF/services/META-INF/services/io.grpc.LoadBalancerProvider
  mill/clients/mill-jdbc-driver/src/main/resources/META-INF/services/META-INF/services/io.grpc.NameResolverProvider
  mill/dep.1
  mill/mill-backend-core/src/main/java/io/qpointz/mill/service/MillService.java
  mill/mill-core/build.gradle.kts
  mill/mill-core/src/main/java/io/qpointz/mill/sql/JdbcUtils.java
  mill/mill-core/src/main/java/io/qpointz/mill/sql/RecordReaderMetaData.java
  mill/settings.gradle.kts
Due: mill:build, mill-clients:build

[change] prepare for execution improvement
  .gitlab-ci.yml
  docs/.gitlab-ci.yml
  etc/docker/gradle-ci/Dockerfile
  mill/.gitlab-ci.yml
  mill/clients/.gitlab-ci.yml
  mill/clients/mill-jdbc-driver/build.gradle.kts
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/Driver.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillCallableStatement.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillConnection.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillRecordReaderResultSet.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillResultSet.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillStatementBase.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillClientConfiguration.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillSqlQuery.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillUrlParser.java
  mill/clients/mill-jdbc-driver/src/test/java/io/qpointz/mill/DriverTest.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/DriverTestIT.java
  mill/clients/mill-py/millclient/client.py
  mill/clients/mill-py/millclient/proto/io/qpointz/mill/__init__.py
  mill/clients/mill-py/sample.ipynb
  mill/clients/mill-py/tests/test_mill_client.py
  mill/dep.1
  mill/mill-calcite-backend/src/main/java/io/qpointz/mill/service/calcite/providers/CalciteExecutionProvider.java
  mill/mill-calcite-backend/src/main/java/io/qpointz/mill/service/calcite/providers/CalcitePlanConverter.java
  mill/mill-calcite-backend/src/test/java/io/qpointz/mill/service/calcite/providers/CalciteExecutionProviderTest.java
  mill/mill-calcite-backend/src/test/java/io/qpointz/mill/service/calcite/providers/CalcitePlanConverterTest.java
  mill/mill-core/build.gradle.kts
  mill/mill-core/src/main/java/io/qpointz/mill/vectors/sql/ResultSetVectorBlockIterator.java
  mill/mill-core/src/test/java/io/qpointz/mill/sql/ResultSetVectorBlockIteratorTest.java
  mill/mill-jdbc-backend/src/main/java/io/qpointz/mill/service/jdbc/providers/JdbcExecutionProvider.java
  mill/mill-jdbc-backend/src/test/java/io/qpointz/mill/service/jdbc/providers/JdbcExecutionProviderTest.java
  mill/proto/service.proto
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[change:jdbc-driver] jdbc driver should return user name
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillDatabaseMetadata.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/MillDatabaseMetadataTest.java
Due: mill:build, mill-clients:build

[wip]
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillDatabaseMetadata.java
  mill/proto/service.proto
Due: mill:build, mill-clients:build

[change:mill] remove 'qp' prefix in configuration files
  mill/calcite-backend-service/config/default/application.yaml
  mill/calcite-backend-service/src/main/resources/application-local-run.yml
  mill/calcite-service/src/main/java/io/qpointz/mill/services/calcite/configuration/CalciteServiceProperties.java
  mill/calcite-service/src/main/resources/application.yml
  mill/calcite-service/src/test/resources/application-test.yaml
  mill/clients/etc/test-backend-server/application-auth.yml
  mill/clients/etc/test-backend-server/application.yml
  mill/clients/jdbc-driver/src/test/resources/application-in-proc-test.yml
  mill/common-backend-service/src/main/java/io/qpointz/mill/services/configuration/MillStandartSecurityConfig.java
  mill/common-backend-service/src/main/resources/application-backend.yml
  mill/common-backend-service/src/test/resources/application-test.yml
  mill/jdbc-backend-service/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcCalciteConfiguration.java
  mill/jdbc-backend-service/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcConnectionConfiguration.java
  mill/jdbc-backend-service/src/main/resources/application-local-run.yml
  mill/jdbc-service/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcCalciteConfiguration.java
  mill/jdbc-service/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcConnectionConfiguration.java
  mill/jdbc-service/src/main/resources/application.yml
  mill/jdbc-service/src/test/resources/application-test-jdbc.yaml
  sample/mill/mill-oauth/config/application.yml
Due: mill:build, mill-clients:build

[build] 'change' should trigger patch release
  .releaserc
Due: none

[build:mill] move common build logic to plugins [build] remove unused images, activate caching
  .gitignore
  .gitlab/jobs.yml
  .gitlab/pipelines/ci-init.yml
  .gitlab/vars.yml
  docs/.gitlab-ci.yml
  etc/docker/sbt-ci/Dockerfile
  etc/docker/toolchain.yml
  flow/.gitlab-ci.yml
  mill/.gitignore
  mill/.gitlab-ci.yml
  mill/build.gradle.kts
  mill/buildSrc/build.gradle.kts
  mill/buildSrc/src/main/kotlin/io/qpointz/mill/plugins/MillPlugin.kt
  mill/buildSrc/src/main/kotlin/io/qpointz/mill/plugins/MillPublishPlugin.kt
  mill/calcite-backend-service/build.gradle.kts
  mill/calcite-service/build.gradle.kts
  mill/clients/.gitlab-ci.yml
  mill/clients/jdbc-driver/build.gradle.kts
  mill/clients/jdbc-shell/build.gradle.kts
  mill/common-backend-service/build.gradle.kts
  mill/common-service/build.gradle.kts
  mill/common/build.gradle.kts
  mill/jdbc-backend-service/build.gradle.kts
  mill/jdbc-service/build.gradle.kts
  mill/settings.gradle.kts
  rapids/.gitlab-ci.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[build:mill] reduce size of service images, move to java 17
  mill/.gitlab-ci.yml
  mill/calcite-backend-service/build.gradle.kts
  mill/calcite-backend-service/src/main/docker/Dockerfile
  mill/jdbc-backend-service/src/main/docker/Dockerfile
Due: mill:build, mill-clients:build

[poc:mill] implement basic azure backend function
  .gitlab-ci.yml
  .gitlab/vars.yml
  etc/docker/toolchain.yml
  etc/toolchain/toolchain.yml
  mill/azure/mill-azure-calcite-backend-function/build.gradle.kts
  mill/azure/mill-azure-calcite-backend-function/host.json
  mill/azure/mill-azure-calcite-backend-function/local.settings.json
  mill/azure/mill-azure-calcite-backend-function/src/main/java/io/qpointz/mill/azure/functions/AzureBackendFunctions.java
  mill/azure/mill-azure-calcite-backend-function/src/main/java/io/qpointz/mill/azure/functions/BackendFunctions.java
  mill/azure/mill-azure-calcite-backend-function/src/main/java/io/qpointz/mill/azure/functions/FunctionApplication.java
  mill/azure/mill-azure-calcite-backend-function/src/main/java/io/qpointz/mill/azure/functions/configuration/BackendFunctionConfiguration.java
  mill/azure/mill-azure-calcite-backend-function/src/main/resources/application.yml
  mill/azure/mill-azure-calcite-backend-function/src/main/resources/scripts/testdata.sql
  mill/azure/mill-azure-calcite-backend-function/src/test/java/.gitkeep
  mill/azure/mill-azure-calcite-backend-function/src/test/resources/.gitkeep
  mill/azure/mill-azure-jdbc-backend-function/src/main/java/io/qpointz/mill/azure/functions/AzureBackendFunctions.java
  mill/azure/mill-azure-jdbc-backend-function/src/main/java/io/qpointz/mill/azure/functions/BackendFunctions.java
  mill/azure/mill-azure-jdbc-backend-function/src/main/java/io/qpointz/mill/azure/functions/FunctionApplication.java
  mill/azure/mill-azure-jdbc-backend-function/src/main/resources/application.properties
  mill/azure/mill-azure-jdbc-backend-function/src/test/resources/.gitkeep
  mill/clients/mill-py/tests/test_cloud_func_client.py
  mill/mill-calcite-backend-service/build.gradle.kts
  mill/mill-calcite-service/build.gradle.kts
  mill/mill-calcite-service/src/test/java/io/qpointz/mill/services/calcite/BaseTest.java
  mill/mill-common-backend-service/src/main/java/io/qpointz/mill/services/MillService.java
  mill/mill-common-service/build.gradle.kts
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/ServiceHandler.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/configuration/ServiceHandlerConfig.java
  mill/mill-jdbc-backend-service/build.gradle.kts
  mill/mill-jdbc-backend-service/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcCalciteConfiguration.java
  mill/mill-jdbc-backend-service/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcConnectionConfiguration.java
  mill/mill-jdbc-backend-service/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcServiceProvidersConfiguration.java
  mill/mill-jdbc-backend-service/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcCalciteContextFactory.java
  mill/mill-jdbc-backend-service/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcContext.java
  mill/mill-jdbc-backend-service/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcContextFactory.java
  mill/mill-jdbc-backend-service/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcExecutionProvider.java
  mill/mill-jdbc-backend-service/src/main/java/io/qpointz/mill/services/jdbc/providers/ModelStripShuttle.java
  mill/mill-jdbc-backend-service/src/main/resources/logback.xml
  mill/proto/service.proto
  mill/settings.gradle.kts
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[new:mill-py] support function client
  mill/clients/.gitlab-ci.yml
  mill/clients/mill-py/millclient/__init__.py
  mill/clients/mill-py/millclient/auth.py
  mill/clients/mill-py/millclient/client.py
  mill/clients/mill-py/millclient/proto/io/qpointz/mill/__init__.py
  mill/clients/mill-py/tests/test_clients.py
  mill/clients/mill-py/tests/test_cloud_func_client.py
  mill/clients/mill-py/tests/test_connect.py
  mill/clients/mill-py/tests/test_mill_client.py
  mill/clients/mill-py/tests/test_type_support.py
Due: mill:build, mill-clients:build

[fix:mill] fixing tests
  .gitlab/jobs.yml
  docs/.gitlab-ci.yml
  etc/test.puml
  etc/toolchain/toolchain.yml
  flow/.gitlab-ci.yml
  mill/.gitlab-ci.yml
  mill/clients/.gitlab-ci.yml
  mill/clients/mill-jdbc-shell/build.gradle.kts
  mill/clients/mill-jdbc-shell/src/main/docker/Dockerfile
  mill/clients/mill-py/millclient/client.py
  mill/clients/mill-py/millclient/proto/io/qpointz/mill/__init__.py
  mill/clients/mill-py/millclient/proto/substrait/__init__.py
  mill/clients/mill-py/tests/test_clients.py
  mill/clients/mill-py/tests/test_connect.py
  mill/clients/mill-py/tests/test_type_support.py
  mill/mill-calcite-service/src/main/java/io/qpointz/mill/services/calcite/providers/CalciteSqlProvider.java
  mill/mill-common-backend-service/src/main/java/io/qpointz/mill/services/MillService.java
  mill/mill-common-backend-service/src/main/java/io/qpointz/mill/services/MillServiceExceptionAdvice.java
  mill/mill-common-backend-service/src/main/java/io/qpointz/mill/services/configuration/MillServiceConfiguration.java
  mill/mill-common-backend-service/src/test/java/io/qpointz/mill/services/MillServiceExecuteTest.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/ServiceHandler.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/SqlProvider.java
  rapids/.gitlab-ci.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[change:mill] implement submit/fetch query semantic
  mill/azure/mill-azure-calcite-backend-function/build.gradle.kts
  mill/azure/mill-azure-calcite-backend-function/host.json
  mill/azure/mill-azure-calcite-backend-function/local.settings.json
  mill/azure/mill-azure-calcite-backend-function/src/main/java/io/qpointz/mill/azure/functions/AzureBackendFunctions.java
  mill/azure/mill-azure-calcite-backend-function/src/main/java/io/qpointz/mill/azure/functions/BackendFunctions.java
  mill/azure/mill-azure-calcite-backend-function/src/main/java/io/qpointz/mill/azure/functions/FunctionApplication.java
  mill/azure/mill-azure-calcite-backend-function/src/main/java/io/qpointz/mill/azure/functions/configuration/BackendFunctionConfiguration.java
  mill/azure/mill-azure-calcite-backend-function/src/main/resources/application.properties
  mill/azure/mill-azure-calcite-backend-function/src/main/resources/application.yml
  mill/azure/mill-azure-calcite-backend-function/src/main/resources/logback.xml
  mill/mill-common-backend-service/src/main/java/io/qpointz/mill/services/MillService.java
  mill/mill-common-backend-service/src/main/java/io/qpointz/mill/services/configuration/MillServiceConfiguration.java
  mill/mill-common-service/build.gradle.kts
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/ServiceHandler.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/H2Db.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/ServiceBaseTest.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/ServiceBaseTestConfiguration.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/ServiceContextTest.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/ServiceHandlerTest.java
  mill/mill-common-service/src/test/resources/sql-scripts/test.sql
  mill/mill-common/src/test/java/io/qpointz/mill/vectors/VectorReaderTest.java
  mill/mill-jdbc-service/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcCalciteContextFactory.java
  mill/proto/service.proto
  mill/settings.gradle.kts
Due: mill:build, mill-clients:build

[new:mill-py] implement python client http interface support
  mill/.gitlab-ci.yml
  mill/azure/mill-azure-calcite-backend-function/build.gradle.kts
  mill/azure/mill-azure-calcite-backend-function/src/main/docker/Dockerfile
  mill/azure/mill-azure-calcite-backend-function/src/test/java/.gitkeep
  mill/azure/mill-azure-calcite-backend-function/src/test/java/io/qpointz/mill/azure/functions/BackendFunctionsTest.java
  mill/clients/.gitlab-ci.yml
  mill/clients/mill-py/millclient/auth.py
  mill/clients/mill-py/millclient/client.py
  mill/clients/mill-py/millclient/proto/io/qpointz/mill/__init__.py
  mill/clients/mill-py/requirements.txt
  mill/clients/mill-py/sample_func.ipynb
  mill/clients/mill-py/tests/test_clients.py
  mill/clients/mill-py/tests/test_cloud_func_client.py
  mill/clients/mill-py/tests/test_connect.py
  mill/clients/mill-py/tests/test_create_client.py
  mill/clients/mill-py/tests/test_type_support.py
  mill/mill-common-backend-service/src/test/java/io/qpointz/mill/services/MillServiceRewriteTest.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/NoneSecurityProvider.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/ServiceHandler.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/ServiceBaseTest.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/ServiceHandlerTest.java
  mill/mill-common/src/main/java/io/qpointz/mill/vectors/sql/ResultSetVectorBlockIterator.java
  mill/mill-jdbc-service/src/test/java/io/qpointz/mill/services/jdbc/providers/JdbcExecutionProviderTest.java
Due: mill:build, mill-clients:build

[new] initial function deployment
  .gitlab/jobs.yml
  .gitlab/pipelines/ci-init.yml
  .gitlab/vars.yml
  etc/toolchain/deploy-tools/Dockerfile
  etc/toolchain/toolchain.yml
  mill/.gitlab-ci.yml
  mill/azure/mill-azure-calcite-backend-function/local.settings.json
  mill/deploy/.gitignore
  mill/deploy/azure-function-deployment/locals.tf
  mill/deploy/azure-function-deployment/main.tf
  mill/deploy/azure-function-deployment/providers.tf
  mill/deploy/azure-function-deployment/variables.tf
  mill/deploy/azure-function-deployment/variables.tfvars
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[build:docs] output docs to cache dir [change:mill] simplify proto to use same message type for all query endpoints (functions)
  docs/.gitlab-ci.yml
  mill/azure/mill-azure-calcite-backend-function/src/main/java/io/qpointz/mill/azure/functions/AzureBackendFunctions.java
  mill/azure/mill-azure-calcite-backend-function/src/main/java/io/qpointz/mill/azure/functions/BackendFunctions.java
  mill/azure/mill-azure-calcite-backend-function/src/test/java/io/qpointz/mill/azure/functions/BackendFunctionsTest.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillSqlQuery.java
  mill/clients/mill-py/millclient/client.py
  mill/clients/mill-py/millclient/proto/io/qpointz/mill/__init__.py
  mill/clients/mill-py/millclient/proto/substrait/__init__.py
  mill/clients/mill-py/millclient/utils.py
  mill/clients/mill-py/tests/test_clients.py
  mill/mill-common-backend-service/src/main/java/io/qpointz/mill/services/MillService.java
  mill/mill-common-backend-service/src/test/java/io/qpointz/mill/services/MillServiceBaseTest.java
  mill/mill-common-backend-service/src/test/java/io/qpointz/mill/services/MillServiceExecuteTest.java
  mill/mill-common-backend-service/src/test/java/io/qpointz/mill/services/MillServiceRewriteTest.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/ServiceHandler.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/ServiceBaseTest.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/ServiceHandlerTest.java
  mill/proto/service.proto
Due: mill:build, mill-clients:build, docs:build

[new:mill-jdbc-driver] java client should support http interface (az functions)
  mill/build.gradle.kts
  mill/clients/mill-jdbc-driver/build.gradle.kts
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillConnection.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillDatabaseMetadata.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/GrpcMillClient.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/HttpMillClient.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillClient.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillClientConfiguration.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillSqlQuery.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillUrlParser.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/metadata/database/ColumnsMetadata.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/metadata/database/SchemasMetadata.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/metadata/database/TablesMetadata.java
  mill/clients/mill-jdbc-driver/src/test/java/io/qpointz/mill/InProcessTest.java
  mill/clients/mill-jdbc-driver/src/test/java/io/qpointz/mill/client/HttpMillClientTest.java
  mill/clients/mill-jdbc-driver/src/test/java/io/qpointz/mill/client/MillUrlParserTest.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/client/MillClientTest.java
  mill/settings.gradle.kts
Due: mill:build, mill-clients:build

[change:toolchain] build client test certifiates as part of minica image [deploy:mill] add standard tags, improve deployment
  .gitlab/jobs.yml
  .lla
  etc/docker/minica/Dockerfile
  mill/.gitlab-ci.yml
  mill/build.gradle.kts
  mill/buildSrc/src/main/kotlin/io/qpointz/mill/plugins/MillPlugin.kt
  mill/clients/.gitlab-ci.yml
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillCallableStatement.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/MillDatabaseMetadata.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/HttpMillClient.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillClient.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillClientConfiguration.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillSqlQuery.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/MillUrlParser.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/metadata/database/ColumnsMetadata.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/metadata/database/SchemasMetadata.java
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/metadata/database/TablesMetadata.java
  mill/clients/mill-jdbc-driver/src/test/java/io/qpointz/mill/InProcessTest.java
  mill/clients/mill-jdbc-driver/src/test/java/io/qpointz/mill/client/HttpMillClientTest.java
  mill/clients/mill-jdbc-driver/src/test/java/io/qpointz/mill/client/MillUrlParserTest.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/BaseTest.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/DriverTestIT.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/client/MillClientTest.java
  mill/clients/mill-py/tests/clients_base_test.py
  mill/clients/mill-py/tests/test_client_grpc.py
  mill/clients/mill-py/tests/test_client_http.py
  mill/deploy/azure-function-deployment/locals.tf
  mill/deploy/azure-function-deployment/main.tf
  mill/deploy/azure-function-deployment/variables.tf
  mill/mill-common/src/main/java/io/qpointz/mill/MillCodeException.java
  mill/mill-common/src/main/java/io/qpointz/mill/MillException.java
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[change:mill-jdbc-driver] jdbc driver should connect to azure function
  mill/.gitlab-ci.yml
  mill/clients/mill-jdbc-driver/build.gradle.kts
  mill/clients/mill-jdbc-driver/src/main/java/io/qpointz/mill/client/HttpMillClient.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/MillHttpTest.java
  mill/clients/mill-py/millclient/client.py
  mill/clients/mill-py/tests/test_client_http.py
  mill/deploy/azure-mill-basic/locals.tf
  mill/deploy/azure-mill-basic/main.tf
  mill/deploy/azure-mill-basic/providers.tf
  mill/deploy/azure-mill-basic/variables.tf
  mill/deploy/azure-mill-basic/variables.tfvars
  mill/mill-common/src/main/java/io/qpointz/mill/sql/ColumnReader.java
  mill/mill-common/src/main/java/io/qpointz/mill/sql/RecordReaderResultSetBase.java
  mill/mill-common/src/main/java/io/qpointz/mill/sql/readers/vector/BigIntColumnVectorReader.java
  mill/mill-common/src/main/java/io/qpointz/mill/sql/readers/vector/IntColumnVectorReader.java
  mill/mill-common/src/main/java/io/qpointz/mill/sql/readers/vector/SmallIntColumnVectorReader.java
  mill/mill-common/src/main/java/io/qpointz/mill/sql/readers/vector/TinyIntColumnVectorReader.java
Due: mill:build, mill-clients:build

[change:tests] same backend service should be used for integration tests
  mill/.gitlab-ci.yml
  mill/clients/.gitlab-ci.yml
  mill/clients/etc/test-backend-server/Dockerfile
  mill/clients/etc/test-backend-server/application-auth.yml
  mill/clients/etc/test-backend-server/application-tls.yml
  mill/clients/etc/test-backend-server/application.yml
  mill/clients/etc/test-backend-server/passwd.yaml
  mill/clients/etc/test-backend-server/testdata.sql
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/AzFunctionDriverTestIT.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/BaseDriverTestIT.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/BaseTest.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/DriverTestIT.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/GrpcDriverTestIT.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/MillDatabaseMetadataTest.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/MillHttpTest.java
  mill/clients/mill-jdbc-driver/src/testIT/java/io/qpointz/mill/MillPreparedStatementTest.java
  mill/clients/mill-py/tests/test_client_grpc.py
  mill/mill-jdbc-backend-service/config/local-run/testdata.sql
  mill/mill-jdbc-backend-service/src/main/docker/Dockerfile
  mill/mill-jdbc-backend-service/src/main/resources/application-local-run.yml
Due: mill:build, mill-clients:build

[deploy] tf keys should be branch specific
  .gitlab/jobs.yml
  .lla
  mill/clients/mill-py/tests/test_client_http.py
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

Path conditions:
  ci-init: any of: .gitlab-ci.yml, .gitlab/**/*, etc/docker/**/*
  flow:build: any of: .gitlab-ci.yml, .gitlab/**/*, etc/docker/**/*, flow/**/*
  mill:build: any of: .gitlab-ci.yml, .gitlab/**/*, etc/docker/**/*, mill/**/*
  mill-clients:build: any of: .gitlab-ci.yml, .gitlab/**/*, etc/docker/**/*, mill/**/*, mill-clients/**/*
  docs:build: any of: .gitlab-ci.yml, .gitlab/**/*, etc/docker/**/*, docs/**/*
