Repository qpointz/qpointz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-init, flow:build, mill:build, mill-clients:build, docs:build

.gitlab-ci.yml:

include:  
  - local : /.gitlab/vars.yml
  - local : /.gitlab/jobs.yml

stages:
  - init
  - build  
  - finalize

ci-init:
  stage: init
  trigger:
    include:
      - local: .gitlab/pipelines/ci-init.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - etc/toolchain/**/*
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: always

finalize:release:
  image: ${CI_IMAGE_SEM_RELEASE}
  stage: finalize
  variables:
    GIT_STRATEGY: clone  
  only:
    - main 
    - rc
  script:
    - npx semantic-release --ci --debug
        
flow:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
      - local: flow/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - flow/**/*  

mill:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
      - local: mill/.gitlab-ci.yml
    strategy: depend
  rules:        
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always
    - changes:      
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*        
        - mill/[!clients]*/**/*
        - mill/[!clients]*/*
        - mill/*.yml
        - mill/*.kts
        - mill/*.properties
      when: always

mill-clients:build:
  stage: build
  inherit:
    variables: false
  needs:
    - job: mill:build  
      optional: true
  trigger:
    include:
      - local: mill/clients/.gitlab-ci.yml      
    strategy: depend
  rules:
    - if: $CI_COMMIT_REF_PROTECTED != "true"
      changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - mill/**/*        
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always               

docs:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
      - local: docs/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: $CI_COMMIT_REF_PROTECTED != "true"
      changes:
        - .gitlab-ci.yml
        - .gitlab/**/*
        - etc/docker/**/*
        - docs/**/* 
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always

[fix]: moneta configuration [feat]: sql chat ui basic version [change]: build moneta docker image
  etc/docker/npm-ci/Dockerfile
  etc/docker/npm-ci/entrypoint.sh
  mill/.gitlab-ci.yml
  mill/ai/mill-ai-llm-service/.gitignore
  mill/ai/mill-ai-llm-service/build.gradle.kts
  mill/ai/mill-ai-llm-service/src/main/java/io/qpointz/mill/services/llm/SqlAgent.java
  mill/ai/mill-ai-llm-service/src/main/java/io/qpointz/mill/services/llm/configuration/LLMConfiguration.java
  mill/ai/mill-ai-llm-service/src/main/java/io/qpointz/mill/services/llm/configuration/SqlChatUIConfiguration.java
  mill/ai/mill-ai-llm-service/src/main/java/io/qpointz/mill/services/llm/controllers/SqlChatUIController.java
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/.gitignore
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/index.html
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/package-lock.json
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/package.json
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/App.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/api/chat.js
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/api/export.js
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/components/ChartViewer.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/components/ChatHistory.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/components/ExportMenu.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/components/MermaidViewer.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/components/MessageTabs.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/components/QueryInput.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/components/Spinner.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/components/SqlViewer.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/components/TableViewer.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/main.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/pages/ChatPage.jsx
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/src/styles/index.css
  mill/ai/mill-ai-llm-service/src/main/ui/sql-chat/vite.config.js
  mill/mill-service/.dockerignore
  mill/mill-service/application-moneta.yaml
  mill/mill-service/application-moneta.yml
  mill/mill-service/build.gradle.kts
  mill/mill-service/config/moneta/Dockerfile
  mill/mill-service/config/test/application-auth.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[fix]: moneta docker image fails to push to docker official registry
  mill/.gitlab-ci.yml
Due: mill:build, mill-clients:build

[feat]: OpenAI support enabled
  mill/ai/mill-ai-llm-service/build.gradle.kts
  mill/mill-service/src/main/resources/application.yml
  mill/test/datasets/moneta/moneta.prompt
Due: mill:build, mill-clients:build

[doc]: moneta example documentation
  docs/local.sh
  mill/docs/mkdocs.yml
  mill/docs/requirements.txt
  mill/docs/src/index.md
  mill/docs/src/quickstart/moneta.md
Due: mill:build, mill-clients:build, docs:build

[change]: rename metadata provider to schema provider [new]: annotation provider proto
  mill/ai/mill-ai-llm-service/src/main/java/io/qpointz/mill/services/llm/controllers/LLMChatController.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/AnnotationsProvider.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/SchemaProvider.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/configuration/DefaultFilterChainConfiguration.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/configuration/DefaultServiceConfiguration.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/descriptors/ApplicationDescriptor.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/dispatchers/DataOperationDispatcherImpl.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/dispatchers/PlanDispatcherImpl.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/dispatchers/PlanHelper.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/metadata/AnnotationEntry.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/metadata/AnnotationRepository.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/metadata/Annotations.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/metadata/ColumnAnnotations.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/metadata/InstanceAnnotations.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/metadata/SchemaAnnotations.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/metadata/TableAnnotations.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/rewriters/TableFacetFactoryImpl.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/ServiceBaseTest.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/configuration/ServiceBaseTestConfiguration.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/dispatchers/PlanHelperTest.java
  mill/mill-common-service/src/test/resources/metadata/complete.yml
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/configuration/CalciteServiceConfiguration.java
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/providers/CalciteSchemaProvider.java
  mill/mill-starter-backends/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcCalciteConfiguration.java
  mill/mill-starter-backends/src/test/java/io/qpointz/mill/services/calcite/SchemaPlusSchemaProviderTest.java
  mill/mill-starter-backends/src/test/java/io/qpointz/mill/services/calcite/providers/CalciteSchemaProviderTest.java
  mill/mill-starter-backends/src/test/java/io/qpointz/mill/services/jdbc/BaseTest.java
  mill/mill-starter-backends/src/test/java/io/qpointz/mill/services/jdbc/providers/JdbcSchemaProviderTest.java
  mill/services/mill-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceBaseTest.java
  mill/services/mill-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceMetadataTest.java
  mill/services/mill-grpc-service/src/test/java/io/qpointz/mill/services/MillServiceBaseTestConfiguration.java
Due: mill:build, mill-clients:build

[change] improve security configuration to centralize route protection. preparation to split security-core and starter-security
  mill-ui/.gitignore
  mill-ui/stats.html
  mill/ai/mill-ai-core/src/test/java/io/qpointz/mill/ai/nlsql/messages/specs/SchemaMessageSpecTest.java
  mill/ai/mill-ai-nlsql-chat-service/src/main/java/io/qpointz/mill/ai/nlsql/controllers/NlSqlChatController.java
  mill/mill-common-security/build.gradle.kts
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/AuthenticationMethod.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/AuthenticationMethodDescriptor.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/AuthenticationMethods.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/basic/BasicAuthenticationMethod.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/oauth2/OAuth2AuthenticationConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/oauth2/OAuth2ResourceServiceAuthenticationMethod.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/authentication/token/EntraIdAuthenticationMethod.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/ApiSecurityConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/AppSecurityConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/AuthRoutesSecurityConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/SecurityConfig.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/ServicesSecurityConfiguration.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/SwaggerSecurityConfig.java
  mill/mill-common-security/src/main/java/io/qpointz/mill/security/configuration/WellKnownSecurityConfiguration.java
  mill/mill-common-security/src/test/java/io/qpointz/mill/security/authentication/AuthenticationMethodsTest.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/descriptors/ApplicationDescriptor.java
  mill/mill-common-service/src/main/java/io/qpointz/mill/services/descriptors/SecurityDescriptor.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/dispatchers/PlanDispatcherImplTest.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/metadata/impl/MetadataProviderImplTest.java
  mill/mill-common-service/src/test/java/io/qpointz/mill/services/rewriters/TableFacetPlanRewriterTest.java
  mill/mill-common/build.gradle.kts
  mill/mill-service/application-moneta.yml
  mill/mill-service/application-oauth.yml
  mill/mill-service/build.gradle.kts
  mill/mill-test-common/src/main/java/io/qpointz/mill/test/services/TestController.java
  mill/services/mill-starter-services/src/main/java/io/qpointz/mill/services/controllers/ApplicationDescriptorController.java
  mill/services/mill-starter-services/src/main/resources/static/id/login.html
  mill/services/mill-starter-services/src/test/java/io/qpointz/mill/services/configuration/security/HttpServiceBasicSecurityTest.java
  mill/services/mill-starter-services/src/test/java/io/qpointz/mill/services/configuration/security/HttpServiceNoSecurityTest.java
  mill/services/mill-starter-services/src/test/java/io/qpointz/mill/services/controllers/ServiceController.java
  mill/services/mill-starter-services/src/test/resources/application-test-jdbc.yml
Due: mill:build, mill-clients:build

[build] improve chat UI [change:ai] enrichments autoimproved for chat session
  mill-ui/package-lock.json
  mill-ui/package.json
  mill-ui/src/App.tsx
  mill-ui/src/component/assist/AssistLayout.tsx
  mill-ui/src/component/assist/chat/ChatMessageList.tsx
  mill-ui/src/component/assist/chat/ChatView.tsx
  mill-ui/src/component/assist/chat/chat.ts
  mill-ui/src/component/chat/BeginNewChat.tsx
  mill-ui/src/component/chat/ChatLayout.tsx
  mill-ui/src/component/chat/ChatList.tsx
  mill-ui/src/component/chat/ChatMessageList.tsx
  mill-ui/src/component/chat/ChatProvider.tsx
  mill-ui/src/component/chat/ChatView.tsx
  mill-ui/src/component/chat/PostMessage.tsx
  mill-ui/src/component/chat/intents/EnrichModelIntent.tsx
  mill-ui/src/component/chat/intents/ExplainIntent.tsx
  mill-ui/src/component/chat/intents/GetDataIntent.tsx
  mill-ui/src/component/chat/intents/UnsupportedIntent.tsx
  mill-ui/src/component/chat/mockData.ts
  mill-ui/src/component/layout/Navbar.tsx
  mill-ui/src/main.tsx
  mill/.gitlab-ci.yml
  mill/ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/ReasoningResponse.java
  mill/ai/mill-ai-core/src/main/resources/templates/nlsql/intent/enrich-model/removed.prompt
  mill/ai/mill-ai-core/src/main/resources/templates/nlsql/intent/enrich-model/user.prompt
  mill/ai/mill-ai-core/src/main/resources/templates/nlsql/reason/system.prompt
Due: mill:build, mill-clients:build

[change] minor UI improvements
  mill-ui/src/component/chat/BeginNewChat.tsx
  mill-ui/src/component/chat/ChatMessageList.tsx
  mill-ui/src/component/chat/ChatProvider.tsx
  mill-ui/src/component/chat/intents/EnrichModelIntent.tsx
  mill-ui/src/component/chat/mockData.ts
  mill-ui/src/main.tsx
  mill/ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/ReasoningResponse.java
Due: mill:build, mill-clients:build

[fix:ui] data intent table missing scrollbars
  mill-ui/src/component/chat/intents/GetDataIntent.tsx
  mill-ui/src/component/data/DataContainer.tsx
Due: none

[build:build-logic] moved build logic into separate project
  mill/ai/mill-ai-core/build.gradle.kts
  mill/ai/mill-ai-nlsql-chat-service/build.gradle.kts
  mill/build-logic/build.gradle.kts
  mill/build-logic/src/main/kotlin/io/qpointz/mill/plugins/MillPlugin.kt
  mill/build-logic/src/main/kotlin/io/qpointz/mill/plugins/MillPublishPlugin.kt
  mill/build-logic/src/main/resources/META-INF/gradle-plugins/io.qpointz.plugins.mill.propertiesbak
  mill/buildSrc/src/main/kotlin/io/qpointz/mill/plugins/MillPlugin.kt
  mill/clients/mill-jdbc-driver/build.gradle.kts
  mill/clients/mill-jdbc-shell/build.gradle.kts
  mill/core/mill-core/build.gradle.kts
  mill/core/mill-security-core/build.gradle.kts
  mill/core/mill-service-core/build.gradle.kts
  mill/gradle/libs.versions.toml
  mill/mill-service/build.gradle.kts
  mill/mill-starter-backends/build.gradle.kts
  mill/mill-test-common/build.gradle.kts
  mill/services/mill-ai-llm-service/build.gradle.kts
  mill/services/mill-ai-mcp-service/build.gradle.kts
  mill/services/mill-grinder-service/build.gradle.kts
  mill/services/mill-jet-grpc-service/build.gradle.kts
  mill/services/mill-jet-http-service/build.gradle.kts
  mill/services/mill-starter-services/build.gradle.kts
  mill/settings.gradle.kts
Due: mill:build, mill-clients:build

[chnage] bump dependencies to latest
  mill/ai/mill-ai-core/src/main/resources/templates/nlsql/intent/get-chart/user.prompt
  mill/core/mill-core/build.gradle.kts
  mill/gradle/libs.versions.toml
  mill/mill-service/build.gradle.kts
  mill/mill-test-common/build.gradle.kts
Due: mill:build, mill-clients:build

[code] futher code optimization
  apps/settings.gradle.kts
  core/mill-starter-backends/build.gradle.kts
  core/mill-starter-backends/src/test/java/io/qpointz/mill/services/calcite/BaseTest.java
  core/mill-starter-backends/src/test/java/io/qpointz/mill/services/calcite/SchemaPlusSchemaProviderTest.java
  core/mill-starter-backends/src/test/java/io/qpointz/mill/services/calcite/providers/GenerateTestPlansTest.java
  core/mill-starter-backends/src/test/java/io/qpointz/mill/services/jdbc/BaseTest.java
  core/mill-starter-backends/src/test/java/io/qpointz/mill/services/jdbc/providers/JdbcExecutionProviderTest.java
  core/mill-starter-backends/src/test/java/io/qpointz/mill/services/jdbc/providers/JdbcSchemaProviderTest.java
  core/settings.gradle.kts
  services/mill-jet-grpc-service/build.gradle.kts
  services/mill-jet-grpc-service/src/main/java/io/qpointz/mill/services/MillGrpcService.java
  services/mill-jet-grpc-service/src/main/java/io/qpointz/mill/services/MillGrpcServiceExceptionAdvice.java
  services/mill-jet-grpc-service/src/main/java/io/qpointz/mill/services/configuration/GrpcServiceDescriptor.java
  services/mill-jet-grpc-service/src/main/java/io/qpointz/mill/services/configuration/GrpcServiceSecurityConfiguration.java
  services/mill-jet-grpc-service/src/main/resources/.gitignore
  services/mill-jet-grpc-service/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  services/mill-jet-grpc-service/src/test/config/passwd.yml
  services/mill-jet-grpc-service/src/test/java/io/qpointz/mill/services/BootstrapTest.java
  services/mill-jet-grpc-service/src/test/java/io/qpointz/mill/services/H2Db.java
  services/mill-jet-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceBaseTest.java
  services/mill-jet-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceExecuteTest.java
  services/mill-jet-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceMetadataTest.java
  services/mill-jet-grpc-service/src/test/java/io/qpointz/mill/services/MillGrpcServiceRewriteTest.java
  services/mill-jet-grpc-service/src/test/java/io/qpointz/mill/services/MillServiceBaseTestConfiguration.java
  services/mill-jet-grpc-service/src/test/resources/application-test.yml
  services/mill-jet-grpc-service/src/test/resources/sql-scripts/test.sql
  services/settings.gradle.kts
Due: none

[feat:backends] JDBC backend should support multiple schemas per connection
  core/mill-starter-backends/config/test/multi-schema.sql
  core/mill-starter-backends/src/main/java/io/qpointz/mill/services/jdbc/configuration/JdbcCalciteConfiguration.java
  core/mill-starter-backends/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcCalciteContextFactory.java
  core/mill-starter-backends/src/test/java/io/qpointz/mill/services/jdbc/MultiSchemaBackendTests.java
  core/mill-starter-backends/src/test/resources/application-test-jdbc-multi-schema.yaml
Due: none

[build] upgrade to gradle 9 [code] minor code cleanup
  ai/gradle/wrapper/gradle-wrapper.properties
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/CallSpecs.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/MessageSpecs.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/components/ChatTaskWorkflow.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/components/QueryExecutor.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/components/prompts/UserQuestionPrompt.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/components/tasks/AbstractSchemaTask.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/components/tasks/ChartDataTask.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/components/tasks/ExplainTask.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/components/tasks/GetDataTask.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/components/tasks/ReasonTask.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/messages/specs/SchemaMessageSpec.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/messages/specs/SqlConventionSpec.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/messages/specs/conv.yaml
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/messages/specs/conv2.yml
  ai/mill-ai-core/src/main/resources/old/main-chart-data-user.prompt
  ai/mill-ai-core/src/main/resources/old/main-explain-user.prompt
  ai/mill-ai-core/src/main/resources/old/main-system.prompt
  ai/mill-ai-core/src/main/resources/old/user-question.prompt
  ai/settings.gradle.kts
  apps/gradle/wrapper/gradle-wrapper.properties
  apps/settings.gradle.kts
  core/gradle/wrapper/gradle-wrapper.properties
  services/gradle/wrapper/gradle-wrapper.properties
  services/settings.gradle.kts
Due: none

[feat:ai] implement SQL feature prompt construction [feature] SQL dialects provided as YAML files
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/chat/messages/templates/PebbleTemplate.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/chat/prompts/templates/PebblePromptTemplate.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/ChatApplication.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/IntentSpecs.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/MessageSpecs.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/configuration/Nl2SqlConfiguration.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/messages/specs/SqlConventionSpec.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/messages/specs/conv2.yml
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/DefaultSqlDialect.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/ReasoningResponse.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/SpecSqlDialect.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/SqlDialect.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/SqlDialects.java
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/calcite/calcite.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/conv-final.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/conv.yaml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/conv2.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/databricks/databricks.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/default/dialect.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/h2/h2.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/postgres/postgres.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/sql-features.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/tmp.prmt
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/trino/trino.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/system.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/reason/system.prompt
  ai/mill-ai-core/src/test/java/io/qpointz/mill/ai/nlsql/models/SpecSqlDialectTest.java
  ai/mill-ai-core/src/testIT/java/io/qpointz/mill/ai/nlsql/BaseIntentTestIT.java
  ai/mill-ai-core/src/testIT/java/io/qpointz/mill/ai/nlsql/EnrichModelIntentTestIT.java
  ai/mill-ai-core/src/testIT/java/io/qpointz/mill/ai/nlsql/ExplainIntentTestIT.java
  ai/mill-ai-core/src/testIT/java/io/qpointz/mill/ai/nlsql/GetChartIntentTestIT.java
  ai/mill-ai-core/src/testIT/java/io/qpointz/mill/ai/nlsql/GetDataIIntentTestIT.java
  ai/mill-ai-core/src/testIT/java/io/qpointz/mill/ai/nlsql/ReasoningTestIT.java
  ai/mill-ai-core/src/testIT/java/io/qpointz/mill/ai/nlsql/RefineIntentTestIt.java
  ai/mill-ai-nlsql-chat-service/src/main/java/io/qpointz/mill/ai/nlsql/components/ChatProcessor.java
  core/mill-core/src/main/java/io/qpointz/mill/utils/YamlUtils.java
Due: none

[implement] sql dialect improvement
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/DefaultSqlDialect.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/SpecSqlDialect.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/SqlDialect.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/SqlDialects.java
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/calcite/calcite.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/databricks/databricks.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/h2/h2.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/postgres/postgres.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/trino/trino.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/reason/system.prompt
  ai/mill-ai-core/src/test/java/io/qpointz/mill/ai/nlsql/models/CalciteDialectTest.java
  ai/mill-ai-core/src/test/java/io/qpointz/mill/ai/nlsql/models/DatabricksDialectTest.java
  ai/mill-ai-core/src/test/java/io/qpointz/mill/ai/nlsql/models/H2DialectTest.java
  ai/mill-ai-core/src/test/java/io/qpointz/mill/ai/nlsql/models/PostgresDialectTest.java
  ai/mill-ai-core/src/test/java/io/qpointz/mill/ai/nlsql/models/SpecSqlDialectTest.java
  ai/mill-ai-core/src/test/java/io/qpointz/mill/ai/nlsql/models/SpecSqlDialectTestBase.java
  ai/mill-ai-core/src/test/java/io/qpointz/mill/ai/nlsql/models/TrinoDialectTest.java
  apps/mill-service/application-moneta.yml
Due: none

[new] add basic dialect specs for MySQL, Oracle, DB2, DuckDB [change] cosmetic UI changes [change:ui] chat list not updating after new chat created
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/SqlDialects.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/processors/ExecuteQueryProcessor.java
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/calcite/calcite.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/databricks/databricks.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/db2/db2.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/duckdb/duckdb.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/h2/h2.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/mssql/mssql.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/mysql/mysql.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/oracle/oracle.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/postgres/postgres.yml
  ai/mill-ai-core/src/main/resources/templates/nlsql/dialects/sql-features.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/get-chart/user.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/get-data/user.prompt
  ai/mill-ai-core/src/test/java/io/qpointz/mill/ai/nlsql/models/SpecSqlDialectTestBase.java
  apps/mill-service/application-moneta.yml
  core/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/istmus/SqlConverterBase.java
  core/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/istmus/SqlToSubstrait.java
  core/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/providers/CalciteSqlProvider.java
  core/mill-starter-backends/src/main/java/io/qpointz/mill/services/configuration/BackendConfiguration.java
  core/mill-starter-backends/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcCalciteContextFactory.java
  core/mill-starter-backends/src/main/java/io/qpointz/mill/services/jdbc/providers/JdbcPermissiveOperatorTable.java
  core/mill-starter-backends/src/main/resources/extensions/functions.yml
  core/mill-starter-backends/src/test/java/io/qpointz/mill/services/configuration/BackendConfigurationTest.java
  core/mill-starter-backends/src/test/java/io/qpointz/mill/services/jdbc/providers/JdbcCalciteContextFactoryTest.java
  core/mill-starter-backends/src/test/resources/application-test-jdbc.yaml
  services/mill-grinder-ui/src/component/chat/ChatList.tsx
  services/mill-grinder-ui/src/component/chat/ChatMessageList.tsx
  services/mill-grinder-ui/src/component/chat/ChatProvider.tsx
  services/mill-grinder-ui/src/component/chat/ChatView.tsx
  test/plans/trivial.json
Due: none

[change:ui] minor cosmetic changes
  services/mill-grinder-ui/src/component/chat/ChatList.tsx
  services/mill-grinder-ui/src/component/chat/ChatMessageList.tsx
  services/mill-grinder-ui/src/component/chat/intents/EnrichModelIntent.tsx
  services/mill-grinder-ui/src/component/chat/intents/ExplainIntent.tsx
  services/mill-grinder-ui/src/component/chat/intents/GetDataIntent.tsx
  services/mill-grinder-ui/src/component/chat/intents/UnsupportedIntent.tsx
  services/mill-grinder-ui/src/component/data/DataContainer.tsx
Due: none

[feat:ai] improve UI . better more stable layout , add expand for bigger data view [build:apps] add docs as separate build
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/ReasoningResponse.java
  ai/mill-ai-core/src/main/resources/templates/nlsql/reason/system.prompt
  ai/mill-ai-core/src/testIT/java/io/qpointz/mill/ai/nlsql/GetDataIIntentTestIT.java
  apps/settings.gradle.kts
  docs/build.gradle.kts
  docs/settings.gradle.kts
  docs/src/specs/mcp.spec
  services/mill-grinder-ui/src/api/chat.ts
  services/mill-grinder-ui/src/component/chat/BeginNewChat.tsx
  services/mill-grinder-ui/src/component/chat/ChatList.tsx
  services/mill-grinder-ui/src/component/chat/ChatMessageList.tsx
  services/mill-grinder-ui/src/component/chat/ChatProvider.tsx
  services/mill-grinder-ui/src/component/chat/intents/EnrichModelIntent.tsx
  services/mill-grinder-ui/src/component/chat/intents/ExplainIntent.tsx
  services/mill-grinder-ui/src/component/chat/intents/GetDataIntent.tsx
  services/mill-grinder-ui/src/component/chat/intents/UnsupportedIntent.tsx
Due: docs:build

[fix] fixed update and delete chat controller function
  META-INF/mill-config-keys.txt
  ai/mill-ai-nlsql-chat-service/src/main/java/io/qpointz/mill/ai/nlsql/configuration/GlobalExceptionHandler.java
  ai/mill-ai-nlsql-chat-service/src/main/java/io/qpointz/mill/ai/nlsql/controllers/NlSqlChatController.java
  ai/mill-ai-nlsql-chat-service/src/test/java/io/qpointz/mill/ai/nlsql/configuration/GlobalExceptionHandlerTest.java
  clients/gradle/wrapper/gradle-wrapper.jar
  clients/gradle/wrapper/gradle-wrapper.properties
  clients/gradlew
  clients/gradlew.bat
  docs/mill-config-reference.md
  docs/mill-configuration-guide.md
  services/mill-grinder-ui/.openapi-generator-ignore
  services/mill-grinder-ui/Makefile
  services/mill-grinder-ui/openapi.json
  services/mill-grinder-ui/src/api/chat.ts
  services/mill-grinder-ui/src/api/mill/.openapi-generator/FILES
  services/mill-grinder-ui/src/api/mill/.openapi-generator/VERSION
  services/mill-grinder-ui/src/api/mill/api.ts
  services/mill-grinder-ui/src/api/mill/docs/AccessServiceControllerApi.md
  services/mill-grinder-ui/src/api/mill/docs/AuthenticationMethodDescriptor.md
  services/mill-grinder-ui/src/api/mill/docs/ContentDisposition.md
  services/mill-grinder-ui/src/api/mill/docs/DefaultHttpStatusCode.md
  services/mill-grinder-ui/src/api/mill/docs/ErrorResponse.md
  services/mill-grinder-ui/src/api/mill/docs/ErrorResponseHeaders.md
  services/mill-grinder-ui/src/api/mill/docs/ErrorResponseHeadersAcceptLanguageInner.md
  services/mill-grinder-ui/src/api/mill/docs/ErrorResponseHeadersHost.md
  services/mill-grinder-ui/src/api/mill/docs/ErrorResponseHeadersHostAddress.md
  services/mill-grinder-ui/src/api/mill/docs/ErrorResponseStatusCode.md
  services/mill-grinder-ui/src/api/mill/docs/HttpStatus.md
  services/mill-grinder-ui/src/api/mill/docs/HttpStatusCode.md
  services/mill-grinder-ui/src/api/mill/docs/LlmChatControllerApi.md
  services/mill-grinder-ui/src/api/mill/docs/MediaType.md
  services/mill-grinder-ui/src/api/mill/docs/NlSqlChatControllerApi.md
  services/mill-grinder-ui/src/api/mill/docs/ProblemDetail.md
  services/mill-grinder-ui/src/api/mill/docs/SecurityDescriptor.md
  services/mill-grinder-ui/src/api/mill/git_push.sh
  services/mill-grinder-ui/src/component/chat/ChatList.tsx
  services/mill-grinder-ui/src/component/chat/ChatProvider.tsx
  services/mill-grinder-ui/vite.config.ts
Due: docs:build

[build] provide mill-service essential docker container [build] refactor build pipeline by providing modularization
  .gitlab-ci.yml
  .gitlab/.common.yml
  .gitlab/.jobs.yml
  .gitlab/.rules.yml
  .gitlab/.vars.yml
  .gitlab/docker/deploy-tools/Dockerfile
  .gitlab/docker/minica/Dockerfile
  .gitlab/docker/semantic-release/Dockerfile
  .gitlab/pipelines/integration.yml
  .gitlab/pipelines/package.yml
  .gitlab/pipelines/publish.yml
  Makefile
  ai/.gitlab-ci.yml
  ai/mill-ai-core/build.gradle.kts
  apps/.gitlab-ci.yml
  apps/.gitlab/pipelines/package.yml
  apps/mill-service/build.gradle.kts
  apps/mill-service/src/main/docker/Dockerfile
  clients/.gitlab-ci.yml
  clients/.gitlab/.gitlab-ci.yml
  clients/.gitlab/common.yml
  clients/gradle/wrapper/gradle-wrapper.properties
  core/.gitlab-ci.yml
  core/mill-service-core/src/test/java/io/qpointz/mill/services/metadata/impl/file/ValueMappingTest.java
  flow/gradle/wrapper/gradle-wrapper.properties
  misc/rapids/gradle/wrapper/gradle-wrapper.properties
  services/.gitlab-ci.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[build] add integration pipelines
  .gitlab-ci.yml
  .gitlab/.common.yml
  .gitlab/.rules.yml
  .gitlab/pipelines/integration.yml
  ai/.gitlab/pipelines/integration.yml
  clients/.gitlab-ci.yml
  clients/.gitlab/.gitlab-ci.yml
  clients/.gitlab/pipelines/integration.yml
  core/settings.gradle.kts
  flow/.gitlab-ci.yml
  misc/rapids/.gitlab-ci.yml
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[change] minor UI adjustments
  services/mill-grinder-ui/src/App.tsx
  services/mill-grinder-ui/src/api/mill/api.ts
  services/mill-grinder-ui/src/api/mill/common.ts
  services/mill-grinder-ui/src/component/data/DataContainer.tsx
Due: none

[build] bump dependencies [build] move to gradle 9.2.1 [fix] fixing test to run on Spring 3.5.8
  ai/gradle/wrapper/gradle-wrapper.properties
  apps/gradle/wrapper/gradle-wrapper.properties
  clients/gradle/wrapper/gradle-wrapper.properties
  clients/mill-jdbc-driver/etc/config/test/testdata.sql
  cloud/mill-azure-service-function/src/main/resources/scripts/testdata.sql
  core/gradle/wrapper/gradle-wrapper.properties
  core/mill-core/src/test/resources/sql/simple.sql
  core/mill-security-core/build.gradle.kts
  core/mill-security-core/src/main/java/io/qpointz/mill/security/authentication/oauth2/OAuth2ResourceServiceAuthenticationMethod.java
  core/mill-security-core/src/test/java/io/qpointz/mill/security/AuthenticationBaseTest.java
  core/mill-security-core/src/test/java/io/qpointz/mill/security/authentication/basic/BasicAuthenticationTest.java
  core/mill-security-core/src/test/java/io/qpointz/mill/security/authentication/token/OAuthAuthenticationTest.java
  core/mill-service-core/config/test/testdata.sql
  core/mill-starter-backends/config/test/testdata.sql
  core/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/RelDataTypeConverter.java
  core/mill-starter-backends/src/main/java/io/qpointz/mill/services/calcite/RelToDatabaseTypeConverter.java
  core/mill-starter-backends/src/test/java/io/qpointz/mill/services/jdbc/MultiSchemaBackendTests.java
  core/mill-test-common/build.gradle.kts
  flow/gradle/wrapper/gradle-wrapper.properties
  libs.versions.toml
  misc/rapids/gradle/wrapper/gradle-wrapper.properties
  services/gradle/wrapper/gradle-wrapper.properties
  test/datasets/users/sql/users.sql
Due: flow:build

[build] build and publish sample docker images
  .gitignore
  apps/.gitlab/pipelines/package.yml
  apps/Makefile
  apps/mill-service/build.gradle.kts
  apps/mill-service/config/samples/application-moneta.yml
  apps/mill-service/src/main/docker/base/Dockerfile
  apps/mill-service/src/main/docker/samples/Dockerfile
  apps/mill-service/src/main/docker/samples/application-moneta-slim.yml
  apps/mill-service/src/main/docker/samples/application-moneta.yml
  build-logic/.kotlin/errors/errors-1753469456272.log
  libs.versions.toml
  test/datasets/moneta/metadata-with-value-mappings.yml
Due: none

[build] allow AI integration tests to fail
  ai/.gitlab/pipelines/integration.yml
Due: none

[feat] Annotations and Relation provider implemented to use v2 metadata
  apps/mill-service/application-moneta-local.yml
  core/mill-metadata-core/src/main/java/io/qpointz/mill/metadata/configuration/MetadataCoreConfiguration.java
  core/mill-metadata-core/src/main/java/io/qpointz/mill/metadata/configuration/MetadataProperties.java
  core/mill-metadata-core/src/main/java/io/qpointz/mill/metadata/configuration/MetadataRepositoryAutoConfiguration.java
  core/mill-metadata-core/src/main/java/io/qpointz/mill/metadata/domain/core/ValueMappingFacet.java
  core/mill-metadata-core/src/main/java/io/qpointz/mill/metadata/repository/file/FileMetadataRepository.java
  core/mill-metadata-core/src/test/java/io/qpointz/mill/metadata/repository/file/FileMetadataRepositoryTest.java
  core/mill-metadata-core/src/test/resources/metadata/base-test.yml
  core/mill-metadata-core/src/test/resources/metadata/override-test.yml
  core/mill-service-core/build.gradle.kts
  core/mill-service-core/src/main/java/io/qpointz/mill/services/metadata/impl/v2/MetadataV2AnniotationsProvider.java
  core/mill-service-core/src/main/java/io/qpointz/mill/services/metadata/impl/v2/MetadataV2RelationsProvider.java
  core/mill-service-core/src/test/java/io/qpointz/mill/services/metadata/impl/v2/MetadataV2AnnotationsProviderTest.java
  core/mill-service-core/src/test/java/io/qpointz/mill/services/metadata/impl/v2/MetadataV2RelationsProviderTest.java
  docs/design/metadata-documentation.md
  docs/design/metadata-implementation-roadmap.md
  docs/design/metadata-service-design.md
Due: docs:build

[build] non local packaging should be run on protected branches
  apps/.gitlab/pipelines/package.yml
Due: none

[change] improve prompts
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/IntentSpecs.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/processors/RefineIntentProcessor.java
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/get-chart/user.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/get-data/user.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/get-data/val.txt
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/refine/removed.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/refine/user.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/user-question.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/reason/system.prompt
  ai/mill-ai-core/src/testIT/resources/application-test-moneta-slim-it.yml
  ai/mill-ai-core/src/testIT/resources/application-test-moneta-valuemap-it.yml
  core/mill-metadata-core/src/main/java/io/qpointz/mill/metadata/domain/core/ValueMappingFacet.java
Due: none

[new] conversation intent [change] UI improvements [change] improve follow up handling
  .cursor/README.md
  .cursor/context.md
  .cursor/rules
  .gitignore
  .gitlab-ci.yml
  .vscode/settings.json
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/IntentSpecs.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/IntentTypes.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/MessageSpecs.java
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/models/ReasoningResponse.java
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/do-conversation/user.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/refine/user.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/intent/system.prompt
  ai/mill-ai-core/src/main/resources/templates/nlsql/reason/system.prompt
  ai/mill-ai-core/src/testIT/java/io/qpointz/mill/ai/nlsql/DoConversationIntentTestIT.java
  apps/Makefile
  apps/mill-service/application-moneta-local.yml
  services/mill-grinder-ui/src/api/mill/api.ts
  services/mill-grinder-ui/src/api/mill/base.ts
  services/mill-grinder-ui/src/api/mill/common.ts
  services/mill-grinder-ui/src/component/chat/ChatMessageList.tsx
  services/mill-grinder-ui/src/component/chat/ChatProvider.tsx
  services/mill-grinder-ui/src/component/chat/intents/DoConversationIntent.tsx
  services/mill-grinder-ui/src/component/chat/intents/UnsupportedIntent.tsx
  services/mill-grinder-ui/src/component/data-model/EntityDetails.tsx
  services/mill-grinder-ui/src/component/data-model/FacetViewer.tsx
  services/mill-grinder-ui/src/component/data-model/MetadataLayout.tsx
  services/mill-grinder-ui/src/component/data-model/components/RelatedItems.tsx
  services/mill-grinder-ui/src/component/data-model/components/SidebarNavButton.tsx
  services/mill-grinder-ui/src/component/data-model/components/SidebarNavSection.tsx
  services/mill-grinder-ui/src/component/data-model/components/facets/BaseFacetViewer.tsx
  services/mill-grinder-ui/src/component/data-model/components/facets/ValueMappingFacetView.tsx
  services/mill-grinder-ui/src/component/data/ChartView.tsx
  services/mill-grinder-ui/src/component/data/DataContainer.tsx
  services/mill-metadata-service/src/main/java/io/qpointz/mill/metadata/api/FacetController.java
  services/mill-metadata-service/src/main/java/io/qpointz/mill/metadata/api/MetadataController.java
  services/mill-metadata-service/src/main/java/io/qpointz/mill/metadata/api/SchemaExplorerController.java
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[build] fixing build pipeline [fix] moneta sample image
  .gitlab-ci.yml
  ai/mill-ai-core/src/main/java/io/qpointz/mill/ai/nlsql/components/ValueMappingComponents.java
  apps/.gitlab/pipelines/package.yml
  apps/Makefile
  apps/mill-service/build.gradle.kts
  apps/mill-service/src/main/docker/samples/application-moneta-slim.yml
  apps/mill-service/src/main/docker/samples/application-moneta.yml
  apps/mill-service/src/main/java/io/qpointz/mill/services/MillService.java
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build

[doc] add docs to publish stage of the build
  .gitlab-ci.yml
  .gitlab/pipelines/publish.yml
  docs/.gitignore
  docs/.gitlab-ci.yml
  docs/mkdocs.yml
  docs/overrides/main.html
  docs/requirements.txt
  docs/src/index.md
Due: ci-init, flow:build, mill:build, mill-clients:build, docs:build
